section.dashboard-page {
	@extend .border-bottom;
	background: $color-background;
	@include paddingV($margin-20);
	min-height: 100vh;
	min-height: calc(100vh - 65px);
	padding: 0;
	position: relative;

	> .container {
		> .content {
			> .row {
				> aside {
					@extend .col-lg-3;

					.show-minimized {
						display: none;
					}

				}

				> main {
					@extend .col-lg-9;
				}

			}

		}

	}

	&.minimized {
		> .container {
			> .content {
				> .row {
					> aside {
						@extend .col-lg-1;

						.hide-minimized {
							display: none;
						}

						.show-minimized {
							display: block;
						}

						.minimize-sidepanel {
							text-align: center;
							margin: $margin-10 auto;
						}

						i {
							font-size: $font-size-7;
						}

						nav.side-menu {
							text-align: center;

							li {
								span {
									display: none;
								}

							}

						}

						ul.side-menu-extended {
							background: $color-background-quaternary;
							margin-top: $margin-menu-item;
							padding-top: $margin-menu-item;
							padding-bottom: $margin-menu-item;
						}

					}

					> main {
						@extend .col-lg-11;
					}

				}

			}

		}

	}

	&:before {
		background: $color-background-secondary;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;

		@include breakpoint(tablet) {
			display: none;
		}

	}

	> .container {
		> .content {
			> .row {
				> main,
				> aside {
					min-height: 100vh;
					min-height: calc(100vh - 65px);
					@include paddingH($margin-page);

					> header {
						position: relative;
						height: 65px;
						@include paddingV($margin-10);
					}

					@include breakpoint(tablet) {
						min-height: auto;
					}

				}

				> aside {
					background: $color-background-secondary;
					@include paddingH($margin-menu);
				}

				> main {
					background: $color-background;

					> section {
						@include paddingV($margin-page);
					}

					> header.main-header {
						@include antialiasText();

						.icon {
							color: $color-white;
							margin-top: -8px;
							font-size: $font-size-header-large;
						}

						h1 {
							display: inline-block;
							vertical-align: middle;
							margin-top: 5px;
						}

						p.header-medium.secondary {
							border-left: 1px solid $color-lines;
							color: $color-subtitle;
							display: inline-block;
							margin-left: $margin-subtitle;
							padding-left: $margin-subtitle;
						}

						.middle {
							&.last {
								text-align: right;
							}

						}

					}

					.project-counter {
						color: $color-shading-purple;
						display: inline-block;
						font-weight: $font-weight-bold;
						margin: 0;
						vertical-align: middle;
						@include antialiasText();

						span {
							font-size: $font-size-header-large;
							line-height: 1;
							margin-right: $margin-5;
						}

					}

				}

			}

		}

	}

	&.user-dashboard-page {
		&.message {
			&:after {
				top: 99px;
			}

			&.top {
				&:after {
					top: 65px;
				}

			}

		}

		> .complete-profile {
			@include antialiasText();
			display: none;
			opacity: 0;

			.icon {
				color: $color-white;
			}

			&.active {
				animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
				display: block;
			}

		}

		.complete-profile {
			background: $color-pitch-purple;
			@include paddingV($margin-5);

			.container {
				@include paddingH($margin-menu);
				position: relative;
			}

			p {
				color: $color-text-secondary;
				display: inline-block;
				margin-bottom: 0;
			}

			a {
				border-bottom: 1px solid $color-text-secondary;
				color: $color-text-secondary;
				margin-left: $margin-p;
			}

			.close-message {
				cursor: pointer;
				position: absolute;
				right: 25px;
				top: 4px;
			}

		}

	}

}