.dashboard-side-menu {
	@include antialiasText();

	header {
		.page-subtitle {
			color: $color-gray-clear;
			letter-spacing: 1px;
		}

		.minimize-sidepanel {
			cursor: pointer;
		}

	}

	.member {
		@include paddingV($margin-20);
		@extend .border-bottom;
		position: relative;

		&:after {
			bottom: 0px;
			left: 0;
			top: auto;
		}

		.profile-picture {
			float: none;
			margin-right: 0;

			div.img-circle {
				vertical-align: middle;
				border-radius: 50%;
				background-size: cover;
				display: inline-block;
				width: 100%;
				padding-bottom: 100%; // height = 100% of width
				background-image: url('../img/placeholders/team_user.svg');
				background-position: center;
			}

		}

		.information {
			padding-left: 0;
		}

		ul li a {
			&:focus,
			&:hover {
				color: $color-white;
			}

		}

	}

	.side-menu {
		> ul {
			padding-top: $margin-20;

			li {
				margin-bottom: $margin-15;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					display: block;
					position: relative;
					color: $color-purple-shading;

					&.incoming {
						&:after {
							background: $color-red-deep;
							border-radius: 50%;
							content: '';
							display: inline-block;
							height: 10px;
							position: absolute;
							top: 8px;
							width: 10px;

							.dashboard-page:not(.minimized) & {
								right: 0;
							}

						}

						&:hover {
							&:after {
								display: inline-block;
							}

						}

					}

					&:focus,
					&:hover {
						color: $color-white;
					}

				}

				&:hover {
					> a {
						color: $color-white;
					}

				}

			}

		}

	}

	.dashboard-page:not(.minimized) &.dashboard-side-menu-extended {
		padding: 0;

		header,
		.member {
			@include paddingH($margin-20);
		}

		.side-menu {
			> ul {
				> li {
					> a {
						@include paddingH($margin-20);
					}

					ul.side-menu-extended {
						background: $color-purple-imperial-darker;
						margin-top: $margin-15;
						padding: $margin-20;

						li {
							&.select-dropdown {
								border-radius: 5px;
								font-size: $font-size-extra-small;
								z-index: 1;
								display: block;
								position: relative;
								width: 170px;

								.icon {
									top: 0;
								}
								.submenu {

									visibility: hidden;
									opacity: 0;
									display: none;
									padding: 0 $margin-10;
									z-index: -1;
									background: $color-purple-imperial-darker;
									color: $color-purple-shading;
									font-size: $font-size-extra-small;
									position: absolute;
									left: 0px;
									border-radius: 5px;
									border-top: 0;
									width: 170px;

									a {
										text-overflow: ellipsis;
										white-space: nowrap;
										overflow: hidden;
									}

								}
							}
							&.select-dropdown:hover {

								.icon {
									transform: scaleY(-1);
									filter: FlipH;
								}

								.submenu {
									border-top-left-radius: 0;
									border-top-right-radius: 0;
									visibility: visible;
									opacity: 1;
									display: inline-block;
									padding: $margin-10;
								}
							
							}

						}

					}

				}

			}

			.cloudcoins {
				span + span {
					position: absolute;
					right: 0;
				}
			}

		}

	}

	&.dashboard-side-menu-user {
		.bottom {
			margin-top: $margin-20;
			left: 0;
			@include paddingH($margin-20);
			position: absolute;
			width: 100%;

			.profile-completion {
				border-bottom: 1px solid $color-transparent-white;
				border-top: 1px solid $color-transparent-white;
				@include paddingV($margin-20);

				.progress-container {
					margin-bottom: $margin-5;

					.percentage {
						color: $color-gray-clear;
					}

				}

				p.update-profile {
					color: $color-purple-shading;
					font-family: $font-header-secondary;
					font-size: $font-size-small;
					font-weight: $font-weight-bold;
					letter-spacing: $letter-spacing-1;
					text-transform: uppercase;
				}

			}

			.profile-information {
				@include paddingV($margin-20);

				h2 {
					margin-bottom: $margin-15 ;
				}

				ul {
					li {
						margin-bottom: $margin-10;
					}

				}

			}

		}

	}

}