.dashboard-side-menu {
	@include antialiasText();

	header {
		.page-subtitle {
			color: $color-menu-items;
			letter-spacing: 1px;
		}

		.minimize-sidepanel {
			cursor: pointer;
		}

	}

	.member {
		@include paddingV($margin-block);
		@extend .border-bottom;
		position: relative;

		&:after {
			bottom: 0px;
			left: 0;
			top: auto;
		}

		.profile-picture {
			float: none;
			margin-right: 0;

			div.img-circle {
				vertical-align: middle;
				border-radius: 50%;
				background-size: cover;
				display: inline-block;
				width: 100%;
				padding-bottom: 100%; // height = 100% of width
				background-image: url('../img/placeholders/team_user.svg');
				background-position: center;
			}

		}

		.information {
			padding-left: 0;
		}

		ul li a {
			&:focus,
			&:hover {
				color: $color-white;
			}

		}

	}

	.side-menu {
		> ul {
			padding-top: $margin-block;

			li {
				margin-bottom: $margin-menu-item;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					display: block;
					position: relative;
					color: $color-shading-purple;

					&.incoming {
						&:after {
							background: $color-deep-red;
							border-radius: 50%;
							content: '';
							display: inline-block;
							height: 10px;
							position: absolute;
							top: 8px;
							width: 10px;

							.dashboard-page:not(.minimized) & {
								right: 15px;
							}

						}

						&:hover {
							&:after {
								display: inline-block;
							}

						}

					}

					&:focus,
					&:hover {
						color: $color-white;
					}

				}

				&:hover {
					> a {
						color: $color-white;
					}

				}

			}

		}

	}

	.dashboard-page:not(.minimized) &.dashboard-side-menu-extended {
		padding: 0;

		header,
		.member {
			@include paddingH($margin-menu);
		}

		.side-menu {
			> ul {
				> li {
					> a {
						@include paddingH($margin-menu);
					}

					ul.side-menu-extended {
						background: $color-background-quaternary;
						margin-top: $margin-menu-item;
						padding: $margin-menu;

						li {
							&.select-dropdown {
								border: solid 1px $color-menu-items;
								border-radius: 5px;
								padding: ($margin-input-small);
								font-size: $font-size-menu-subpage;
								z-index: 1;
								display: block;
								position: relative;
								width: 170px;

								.icon {
									top: 0;
								}
								.submenu {

									visibility: hidden;
									opacity: 0;
									display: none;
									padding: 0 $margin-input-small;
									z-index: -1;
									background: $color-background-quaternary;
									color: $color-shading-purple;
									font-size: $font-size-button;
									position: absolute;
									left: 0px;
									border-radius: 5px;
									border: solid 1px $color-menu-items;
									border-top: 0;
									width: 170px;

									a {
										text-overflow: ellipsis;
										white-space: nowrap;
										overflow: hidden;
									}
								}
							}
							&.select-dropdown:hover {

								.icon {
									transform: scaleY(-1);
									filter: FlipH;
								}

								.submenu {
									border-top-left-radius: 0;
									border-top-right-radius: 0;
									visibility: visible;
									opacity: 1;
									display: inline-block;
									padding: $margin-input-small;
								}
							
							}

						}

					}

				}

			}

		}

	}

	&.dashboard-side-menu-user {
		.bottom {
			bottom: 0;
			left: 0;
			@include paddingH($margin-menu);
			position: absolute;
			width: 100%;

			.profile-completion {
				border-bottom: 1px solid $color-lines;
				border-top: 1px solid $color-lines;
				@include paddingV($margin-block);

				.progress-container {
					margin-bottom: $margin-header-extra-small;

					.percentage {
						color: $color-menu-items;
					}

				}

				p.update-profile {
					color: $color-shading-purple;
					font-family: $font-header-secondary;
					font-size: $font-size-header-small;
					font-weight: $font-weight-bold;
					letter-spacing: $letter-spacing-1;
					text-transform: uppercase;
				}

			}

			.profile-information {
				@include paddingV($margin-block);

				h2 {
					margin-bottom: $margin-item;
				}

				ul {
					li {
						margin-bottom: $margin-p-secondary;
					}

				}

			}

		}

	}

}