.user-profile-content {
	padding-top: 0 !important;

	header.article-header {
		.middle {
		    display: flex;
		    flex-direction: row;
		    align-items: center;

		    .icon {
		    	padding-right: $margin-5;
		    }
		}
	}

	article.block-line {
		margin-bottom: 0 !important;

		&:not(:first-of-type) {
			margin-top: $margin-20;
		}

		fieldset {

			> div {
				> div {
					margin-bottom: $margin-20;

					&:nth-last-of-type(-n+2) {
						margin-bottom: 0;
					}

					.select-dropdown {
						margin-bottom: $margin-20;

						&:last-child {
							margin-bottom: 0;
						}

					}

				}

			}

		}

		.fieldset-checkbox.visual-checkbox {

			.visual-checkbox-label {
				height: 100px;
				border: 1px solid $color-gray-soft;
				margin: $margin-5;
				text-align: center;
				transition: $transition-time-2 $easing-1;
			    display: flex;
			    flex-flow: row wrap;
			    justify-content: center;
			    align-items: center;

				img {
					max-width: 60%;
					height: auto;
					margin: 0 10%;
				}
			}



			input[type="checkbox"]:checked + .visual-checkbox-label {
				color: $color-purple-flashy;
				border-color: $color-purple-flashy;
			}

		}

		.fieldset-radio.visual-radio {

			.row {
				display: flex;
				justify-content: center;
				align-items: center;
				white-space: nowrap
			}

			.visual-radio-label {
				margin-right: 5px;
				margin-left: 5px;
			}

			input[type="radio"]:checked + .visual-radio-label {
				background-color: $color-purple-flashy !important;
				color: $color-white;
			}

		}

		.form-group.required .control-label:after { 
			content:"*";
			color: $color-red-deep;
		}

		.add-image-button {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: -4px auto $margin-10;
			background-color: $color-gray-soft;
		}

		.file-upload-image {
			border: 2px dashed $color-gray-clear;
			height: 300px;
			text-align: center;
			cursor: pointer;
			transition: background $transition-time-2 $easing-1;
			transition: border $transition-time-2 $easing-1;

			&:hover {
				border: 3px dashed $color-gray-soft;
				background: $color-gray-soft;
			}

			p.meta.big {
				font-weight: 400;
			}

		}

		.file-upload-image .icon {
			position: relative;
			color: $color-gray-clear;
			font-size: 60px;
		}

		#file-upload {
			display: none;
		}

	}

}