.user-profile-content {
	padding-top: 0 !important;

	header.article-header {
		.middle {
		    display: flex;
		    flex-direction: row;
		    align-items: center;

		    .icon {
		    	padding-right: $margin-5;
		    }
		}
	}

	article.block-line {
		margin-bottom: 0 !important;

		&:not(:first-of-type) {
			margin-top: $margin-20;
		}

		fieldset {
			> div {
				> div {
					margin-bottom: $margin-20;

					&:nth-last-of-type(-n+2) {
						margin-bottom: 0;
					}

					.select-dropdown {
						margin-bottom: $margin-20;

						&:last-child {
							margin-bottom: 0;
						}

					}

				}

			}

		}

	}

}