.user-settings-content {
	padding-top: 0 !important;

	.subpage {
		&#subpage-2 {
			.vertical-align {
				@include marginH(-$margin-20);

				.middle {
					@include paddingH($margin-20);

					&:last-child {
						text-align: right;
					}

				}

				margin-bottom: $margin-30;
			}

		}

	}

}