.header-extra-large, .header-large, .header-medium, .header-small, .header-extra-small {
	color: $color-text-secondary;
	font-weight: $font-weight-bold;
	margin: 0;
	text-transform: uppercase;
	line-height: $line-height-headers;

	&.public {
		color: $color-text;
	}
}

.header-extra-large {
	font-size: $font-size-header-extra-large;
	letter-spacing: $letter-spacing-3;
	line-height: 1;
}

.header-large {
	font-size: $font-size-header-large;
	letter-spacing: $letter-spacing-3;

	&.secondary {
		color: $color-text;
	}
}

.header-medium {
	font-size: $font-size-header-medium;
	letter-spacing: $letter-spacing-2;

	&.secondary {
		color: $color-text;
		font-family: $font-header-secondary;
		letter-spacing: $letter-spacing-1;
		text-transform: none;
	}
}

.header-small {
	font-size: $font-size-header-small;
	letter-spacing: $letter-spacing-2;

	&.secondary {
		font-family: $font-header-secondary;
		letter-spacing: $letter-spacing-1;
	}
}

.header-extra-small {
	color: $color-text;
	font-family: $font-header-secondary;
	font-size: $font-size-body;
	letter-spacing: $letter-spacing-1;
	text-transform: none;
}

.header-sidebar {
	color: $color-menu-items;
	font-family: $font-header-secondary;
	font-weight: $font-weight-regular;
	font-size: $font-size-body;
	margin-bottom: $margin-header-extra-small;
}

.form-title {
	color: $color-text;
	text-transform: uppercase;
	font-size: $font-size-header-extra-small;
	font-weight: $font-weight-semibold;
	margin-bottom: $margin-p-secondary;
}

.page-subtitle {
	font-size: $font-size-page-subtitle;
	font-weight: $font-weight-bold;
}

.public-page-subtitle {
	font-size: $font-size-public-subtitle;
}

.article-subtitle {
	color: $color-subtitle;
}