.developer-dashboard-activities-content {
	padding-top: 0 !important;

	.menu-subpage {
		@extend .menu-subpage;
	}

	.legend {
		margin-bottom: $margin-block;
	}

	.subpage {
		a {
			width: 100%;
		}

	}

}