.developer-dashboard-projects-content {

	article.project {

		&:nth-of-type(3) {
			clear: both;
		}

		&:nth-last-of-type(-n+2) {
// 			margin-bottom: 0;
		}

		@include breakpoint(phablet) {
			&:nth-last-of-type(-n+2) {
				margin-bottom: $margin-30;
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

		h3 {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.content {
			table {
				td {
					&:first-child {
						width: 45%;
					}

					&:last-child {
						width: 55%;
					}

				}

			}

			.form-submit {
				text-align: right !important;
			}

		}

		&.add-item {
			text-align: center;

			.background {
				background: none;
			}

			.add-project-button {
				cursor: pointer;
				margin: 0 auto $margin-20;
			}

		}

	}

}