.developer-dashboard-projects-content {
	> .row {
		@extend .flex;
	}

	article.project {
		min-height: 476px;
		@extend .clear-2;

		&:nth-last-of-type(-n+2) {
			margin-bottom: 0;
		}

		@include breakpoint(phablet) {
			&:nth-last-of-type(-n+2) {
				margin-bottom: $margin-block-bottom;
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

		.background {
			min-height: 476px;
		}

		.content {
			table {
				tr {
					td {
						&:first-child {
							width: 45%;
						}

						&:last-child {
							width: 55%;
						}

					}

				}

			}

		}

		&.add-item {
			height: 476px;
			text-align: center;

			.background {
				background: none;
			}

			.add-project-button {
				cursor: pointer;
				margin: 0 auto $margin-base;
			}

		}

	}

}