.page-user-dashboard-cloudcoins {

	main {
		color: $color-white;

		.information-block {
			margin-top: $margin-15;
		}

		hr {
			border-color: $color-transparent-white !important;
		}

		.pop-up {
			margin-top: $margin-30;
			text-align: center;

			i {
				color: $color-purple-flashy 
			}
		}

		.cloudcoins-row {
			border-radius: $margin-5;
			padding: $margin-10;
			background-color: $color-white;
			color: $color-black-night;
			margin-top: $margin-10;

			a {
				color: $color-black-night;
			}
		}

		.cloudcoins-content-row {
			margin-top: -5px;
			padding: $margin-5 0; // $margin-10;
			color: $color-black-night;
			background-color: $color-white;
			border-bottom-left-radius: $margin-5;
			border-bottom-right-radius: $margin-5;

			&:last-child {
				margin-bottom: $margin-10;
			}

			article {
				padding-bottom: $margin-5;
			}
		}

		.cloudcoins-row-header {
			color: $color-gray-clear;
			height: 50px;
			padding-top: $margin-10;
			line-height: 160%;
			border-bottom: 1px solid $color-gray-clear;
			border-top: 1px solid $color-gray-clear;		
		}

		.cloudcoins-row-content {
			height: 50px;
			padding: $margin-10 0;
			line-height: 160%;
			border-bottom: 1px solid $color-gray-clear;
		}

		.cloudcoins-row-total {
			height: 45px;
			padding: $margin-10 0 0;
			line-height: 160%;
			font-weight: 700;
		}


		.cloudcoins-row {
			.cloudcoins-row-item {
				padding-left: $margin-5;
				padding-right: $margin-5;
			}
		}

		.cloudcoins-align-right {
			text-align: right;
		}

	}

	.cloudcoins {
		margin-bottom: $margin-15;

		h2.header-medium.secondary {
			margin: $margin-10;
			color: $color-white !important;
			line-height: 185%;

			a {
				float: right;
			}
		}

	}

	.added-cloudcoins {
		background-color: $color-white;
		border-radius: $margin-5;
		padding: 0;
		margin-top: $margin-10;

		.open-tooltip-button {
			position: absolute;
			right: 10px;
			top: 10px;

			a {
				color: $color-purple-flashy;
			}
		}

		.custom-tooltip {
			position: absolute;
			right: 6px;
			top: 39px;
		}

		hr {
			margin: 0;
		}

		.cloudcoins-header {
			background-color: $color-gray-soft;
			padding: $margin-10;
			border-top-right-radius: $margin-5;
			border-top-left-radius: $margin-5;
		}

		.cloudcoins-content {
			padding: $margin-10;

			.meta {
				margin: $margin-10 0;
			}

			p > span {
				float: right;
			}
		}
	}

	.modal-dialog.medium {
		min-width: 800px;
		color: $color-black-night;

		.meta {
			margin-top: $margin-10;
			font-size: $font-size-3;
		}

		.close {
			margin-top: 2px;
		}

		> .block {
			height: 295px;
		}

		.form-group.required .control-label:after { 
		   content:"*";
		   color: $color-red-deep;
		}

		.modal-body {
			padding: 0 $margin-15 $margin-15;

		}

		.input-container a {
			color: $color-purple-flashy;
		}

		.form-group.required .control-label:after { 
		   content:"*";
		   color: $color-red-deep;
		}

		.add-image-button {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: -4px auto $margin-10;
			background-color: $color-gray-soft;
		}

		.fieldset-upload {
			width: 100%;
			height: 100%;
		}

		.file-upload-image {
			border: 2px dashed $color-gray-clear;
			width: 100%;
			height: 270px;
			text-align: center;
			cursor: pointer;
			transition: background $transition-time-2 $easing-1;
			transition: border $transition-time-2 $easing-1;

			&:hover {
				border: 3px solid $color-gray-soft;
				background: $color-gray-soft;
			}

		}

		.file-upload-image .icon {
			position: relative;
			color: $color-white;
			font-size: 60px;
		}

		#file-upload {
			display: none;
		}

		.form-submit {
			text-align: right;
			margin: 0;

			a:not(:first-of-type) {
				margin-left: $margin-10;
			}

		}

	}

}