.user-dashboard-projects-content {
	> .row {
		margin-bottom: $margin-50 * 2;

		article.project {
			&:nth-last-of-type(-n+2) {
				margin-bottom: 0;
			}

			@include breakpoint(phablet) {
				&:nth-last-of-type(-n+2) {
					margin-bottom: $margin-30;
				}

				&:last-child {
					margin-bottom: 0;
				}

			}

		}

	}

	.recommended-projects {
		h2 {
			color: $color-white;
			margin-bottom: $margin-10;
		}

	}

	article.project {
		&.add-item {
			text-align: center;

			.background {
				background: none;
			}

		}

		.content {
			table {
				tr {
					td {
						&:first-child {
							width: 75%;
						}

						&:last-child {
							width: 25%;
						}

					}

				}

			}

			&.last {
				table {
					tr {
						td {
							p {
								border-bottom: 1px solid $color-black-night;

								a {
									color: $color-black-night;

									&:hover {
										color: $color-black-night;
									}

								}

							}

						}

					}

				}

			}

		}

	}

}