.user-dashboard-rewards-content {
	padding-top: 0 !important;

	ul.menu-subpage {
		margin-bottom: 0 !important;
		padding-bottom: $margin-5 !important;
	}

	.modal-body {
		padding: $margin-15 0;

		p {
			margin: $margin-40 0;
		}

		.confirm-2 {
			p {
				margin: $margin-10 0;
			}
		}

		hr {
			margin-bottom: $margin-15;
		}
		
		.form-group {
			margin-bottom: 0;
			text-align: right;

			a {
				margin-right: $margin-10;
			}
		}
	}

	.added-reward {
		background-color: $color-white;
		border-radius: $margin-5;
		padding: 0;
		margin: $margin-10;

		.open-tooltip-button {
			position: absolute;
			right: 10px;
			top: 10px;
			color: $color-purple-flashy;
		}

		.custom-tooltip {
			position: absolute;
			right: 6px;
			top: 39px;
		}

		hr {
			margin: 0;
		}

		.reward-header {
			background-color: $color-gray-soft;
			padding: $margin-10;
			border-top-right-radius: $margin-5;
			border-top-left-radius: $margin-5;
		}

		.reward-content {
			padding: $margin-5 $margin-10;

			.meta {
				margin: $margin-10 0;
			}

			p > span {
				float: right;
			}
		}

		.reward-button {
			text-align: center;

			a {
				width: 90%;
				margin: $margin-5 0;
			}
		}

	}
}