.developer-dashboard-project-campaign-create-content {
	.subpage, .subsection {
		display: none;
		opacity: 0;

		&.active {
			animation: fadeIn $transition-time-2 $cubic-bezier-2 1 normal forwards;
			display: block;
		}
	}
}