.developer-dashboard-project-customer-ideas-content {
	article.idea {
		cursor: pointer;
		margin-bottom: $margin-block-bottom;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		.fa-angle-right {
			color: $color-pink;
			font-size: $font-size-header-large;
			font-weight: $font-weight-bold;
			left: 15px;
			position: absolute;
			top: 77px;
			z-index: 99;
		}

		.content {
			height: 100px;
			overflow: hidden;
			position: relative;
			transition: height $transition-time-2 $cubic-bezier-2;

			&:after {
				background: none;
				background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%);
				background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
				bottom: 0;
				content: "";
				display: inline-block;
				height: 40px;
				left: 0;
				opacity: 1;
				position: absolute;
				transition: opacity $transition-time-1 $cubic-bezier-2;
				width: 100%;
			}

			&.extended {
				overflow: none;

				&:after {
					opacity: 0;
				}
			}

			p {
				padding-left: $margin-p;
			}
		}

		.data {
			margin-top: $margin-p;

			p {
				display: inline-block;
				margin: 0;
				margin-right: $margin-p-secondary;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
