@font-face{
	font-family: 'brandon-bold';
	src: url('../fonts/brandon-bold/brandon_bld-webfont.eot');
	src: url('../fonts/brandon-bold/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/brandon-bold/brandon_bld-webfont.woff') format('woff'),
	     url('../fonts/brandon-bold/brandon_bld-webfont.ttf') format('truetype'),
	     url('../fonts/brandon-bold/brandon_bld-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'corbel';
	src: url('../fonts/corbel/corbel.ttf') format('truetype');
}