html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: $font-body;
	color: $color-black-night;
}

h1, h2, h3, h4, h5 {
	font-family: $font-header;
}

ul, ol {
	margin: 0;
	padding: 0;

	li, li a {
		color: $color-gray-clear;
		font-size: $font-size-small;
		list-style-type: none;
	}
}

img {
	width: 100%;
}

p {
	font-size: $font-size-small;
	margin-bottom: $margin-20;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}

	&:focus, &:active {
		outline: 0 !important;
	}
}

p a, {
	color: $color-purple-flashy;

	&:focus, &:active, &:hover {
		color: $color-purple-shading;
	}
}

table {
	width: 100%;
}





.page-content {
	@include paddingV($margin-20);
}

.legend-item {
	color: $color-white;
	display: inline-block;
	font-size: $font-size-medium;
	font-weight: $font-weight-bold;
	vertical-align: middle;
	letter-spacing: 1px;
	margin: 0;
	@include antialiasText();

	&:last-child {
		float: right;
	}
}

.highlight {
	color: $color-gray-clear;
	letter-spacing: 1px;

	&.active {
		color: $color-black-night;
	}
}

.action-text {
	color: $color-purple-flashy !important;
	display: inline-block;
	position: relative;

	a {
		color: $color-purple-flashy !important;
	}

	&:after {
		background: $color-purple-flashy;
		bottom: 0;
		content: "";
		display: inline-block;
		height: 1px;
		left: 0;
		opacity: 0;
		position: absolute;
		width: 100%;
	}

	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

.input-search {
	background: none;
	border: 1px solid $color-gray-clear;
	border-radius: 20px;
	height: 35px;
	@include paddingH($margin-10);
	position: relative;
	width: 100%;

	&:focus {
		outline: 0;
	}
}

.icon-arrow-down {
	transition: color $transition-time-2 $easing-1;
}

.progress-container {
	p {
		display: inline-block;
	}

.progress-wrap {
		background: $color-gray-smooth;
		border-radius: 5px;
		display: inline-block;
		overflow: hidden;
		position: relative;
		width: 70%;

		.progress-bar {
			background: $color-purple-flashy;
			border-radius: 5px;
			height: 6px;
			width: 0;
			transition: width $transition-time-1 $easing-1;
		}
	}

	.percentage {
		float: right;
		letter-spacing: $letter-spacing-1;
		margin-bottom: 0;
	}
}






.subpage, .subsection {
	display: none;
	opacity: 0;

	&.active {
		animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
		display: block;
	}
}

.border-bottom {
	&:after {
		background: $color-transparent-white;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 65px;
		width: 100%;
	}
}

.vertical-align {
	display: table;
	height: 100%;
	width: 100%;

	.middle {
		display: table-cell;
		vertical-align: middle;
	}
}

.meta {
	color: $color-gray-clear;
	font-size: $font-size-extra-small;
	font-weight: $font-weight-bold;
	margin: 0;

	&.big {
		font-size: $font-size-small;
	}

	&.thin {
		font-weight: $font-weight-regular;
	}

	&.inline-block {
		display: inline-block;
	}
}

.bold {
	font-weight: $font-weight-bold;
}

.online-state {
	position: relative;

	&:after {
		background: $color-green-grass;
		border: 3px solid $color-white;
		border-radius: 50%;
		bottom: 5px;
		content: "";
		display: inline-block;
		height: 15px;
		position: absolute;
		right: 5px;
		width: 15px;
	}
}

.flex {
	display: flex;
	flex-flow: row wrap;
}

.clear-2 {
	&:nth-child(2n+1) {
		clear: both;
	}
}

.clear-3 {
	&:nth-child(3n+1) {
		clear: both;
	}
}

.add-item {
	cursor: pointer;
	text-align: center;

	.background {
		background: none;
		border: 2px dashed $color-gray-clear;
		border-radius: 5px;
		height: 100%;
		transition: background $transition-time-2 $easing-1, border-color $transition-time-2 $easing-1;
	}

	h2 {
		transition: color $transition-time-2 $easing-1;
	}

	.add-project-button {
		background: $color-purple-flashy;
		border-radius: 50%;
		cursor: pointer;
		width: 60px;
		height: 60px;
		margin: 0 auto $margin-20;

		i {
			color: $color-white;
			font-size: $font-size-extra-large;
			margin-top: -4px;
		}
	}

	&:not(.document) {
		&:hover {
			.background {
				background: $color-purple-flashy !important;
				border: 2px dashed $color-purple-flashy !important;
			}
		}
	}
}

.angle-open {
	transform: rotate(90deg) !important;
	transition: transform $transition-time-2 $easing-1;
}

.angle-closed {
	transform: rotate(0deg);
	transition: transform $transition-time-2 $easing-1;
}