.user-dashboard-campaigns-content {
	padding-top: 0 !important;

	> .row {
		@extend .flex;
	}

	.subpage {
		display: none;
		opacity: 0;

		&.active {
			animation: fadeIn $transition-time-2 $cubic-bezier-2 1 normal forwards;
			display: block;
		}
	}

	article.campaign {
		min-height: 297px;

		.background {
			min-height: 297px;
		}
	}
}