// color pallette
$color-white                  : #fff;
$color-flashy-purple          : #7d3c8c;
$color-flashy-purple-highlight: #884c9b;
$color-night-black            : #424242;
$color-clear-gray             : #b1b1b1;
$color-smooth-gray            : #e4e4e4;
$color-grass-green            : #1ed761;
$color-grass-green-highlight  : #29e568;
$color-deep-red               : #ff5071;
$color-solid-purple           : #411f48;
$color-imperial-purple        : #38173f;
$color-imperial-purple-darker : #311437;
$color-pitch-purple           : #28102d;
$color-soft-gray              : #f7f6f6;
$color-shading-purple         : #afa7b0;
$color-candy-purple           : #cc99cc;
$color-transparent-white      : rgba(255, 255, 255, 0.15);
$color-transparent-black      : rgba(0, 0, 0, 0.15);

$color-background             : $color-solid-purple;
$color-background-secondary   : $color-imperial-purple;
// $color-background-tertiary : $color-pitch-purple;
$color-background-quaternary  : $color-imperial-purple-darker;
$color-block-header           : $color-soft-gray;
$color-subtitle               : $color-clear-gray;
$color-menu                   : $color-flashy-purple;
$color-highlight              : $color-clear-gray;
$color-action-text            : $color-flashy-purple;
$color-menu-items             : $color-clear-gray;
$color-button                 : $color-flashy-purple;
$color-button-hover           : $color-flashy-purple-highlight;
$color-input                  : $color-white;
$color-input-border           : $color-clear-gray;
$color-input-hover            : $color-flashy-purple;
$color-checked                : $color-flashy-purple;
$color-block-lines            : $color-clear-gray;
$color-lines                  : $color-transparent-white;
$color-block                  : $color-white;
$color-block-border           : $color-smooth-gray;
$color-success                : $color-grass-green;
$color-success-hover          : $color-grass-green-highlight;
$color-decline                : $color-flashy-purple;
$color-like                   : $color-deep-red;
$color-required				  : $color-deep-red;
$color-text                   : $color-night-black;
$color-text-secondary         : $color-white;
$color-footer-public          : $color-soft-gray;
$color-footer-dev-dashboard   : $color-pitch-purple;
$color-border-bottom          : $color-smooth-gray;

// fonts
$font-body                    : Corbel, Helvetica, Arial, sans-serif;
$font-header-secondary        : Corbel, Helvetica, Arial, sans-serif;
$font-header                  : BrandonGrotesque, sans-serif;

$font-size-base               : 10px;

$font-size-0                  : $font-size-base * 6.0;
$font-size-1                  : $font-size-base * 3.0;
$font-size-2                  : $font-size-base * 1.8;
$font-size-3                  : $font-size-base * 1.6;
$font-size-4                  : $font-size-base * 1.4;
$font-size-5                  : $font-size-base * 1.2;
$font-size-6                  : $font-size-base * 4;
$font-size-7                  : $font-size-base * 3.5;
$font-size-25                 : $font-size-base * 2.5;

$font-size-body               : $font-size-3;
$font-size-header-extra-large : $font-size-0;
$font-size-header-large       : $font-size-1;
$font-size-header-medium      : $font-size-2;
$font-size-header-small       : $font-size-3;
$font-size-header-extra-small : $font-size-4;
$font-size-page-subtitle      : $font-size-4;
$font-size-menu-subpage       : $font-size-4;
$font-size-button             : $font-size-4;
$font-size-meta               : $font-size-4;
$font-size-social-media       : $font-size-6;
$font-size-public-subtitle    : $font-size-25;

$profile-picture-size         : 80px;
$profile-picture-size-xs      : 36px;

// font weights
$font-weight-regular          : 400;
$font-weight-semibold         : 600;
$font-weight-bold             : 700;

// line-heights
$line-height                  : 1.5;
$line-height-small            : 1.3;
$line-height-headers          : 1.35;

// letter spacing
$letter-spacing-1             : 0.04em;
$letter-spacing-2             : 0.06em;
$letter-spacing-3             : 0.08em;

// margins
$margin-5                     : 5px;
$margin-10                    : 10px;
$margin-15                    : 15px;
$margin-20                    : 20px;
$margin-25                    : 25px;
$margin-30                    : 30px;
$margin-40                    : 40px;
$margin-50                    : 50px;
$margin-60                    : 60px;
$margin-80                    : 80px;
$margin-120                   : 120px;

$margin-base                  : $margin-20;
$margin-p                     : $margin-20;
$margin-p-secondary           : $margin-10;
$margin-page                  : $margin-30;
$margin-block                 : $margin-20;
$margin-block-bottom          : $margin-30;
$margin-block-small           : $margin-15;
$margin-block-extra-small     : $margin-10;
$margin-header                : $margin-30;
$margin-header-small          : $margin-10;
$margin-header-extra-small    : $margin-5;
$margin-subtitle              : $margin-15;
$margin-item                  : $margin-15;
$margin-table-row             : $margin-10;
$margin-menu                  : $margin-20;
$margin-menu-item             : $margin-15;
$margin-input                 : $margin-15;
$margin-input-small           : $margin-10;
$margin-icon                  : $margin-5;
$margin-image                 : $margin-15;
$margin-modal                 : $margin-40;
$margin-filter-container      : $margin-40;
$margin-section               : $margin-50;
$margin-header-public         : $margin-40;

$margin-button-H              : $margin-25;
$margin-button-V              : $margin-10;

// transitions
$transition-time-1            : 150ms;
$transition-time-2            : 350ms;

$easing-1                     : cubic-bezier(0.5, 0.35, 0, 1);
$easing-2                     : cubic-bezier(0.85, 0.15, 0.15, 0.85);
