#developer-dashboard-project-business-model {

	article.business-model {
		margin-bottom: $margin-30;

		header {
			position: relative;
			padding: $margin-20 !important;

			h2,
			h3 {
				max-width: 265px;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			}

			.tooltip-container {
				display: block;
				margin: 0;
				position: absolute;
				right: 20px;
				top: 20px;

				a {
					i {
						color: $color-black-night;
					}

				}

			}

			.custom-tooltip {
				right: -5px;
				top: 25px;
			}

		}

		section.status {
			margin: 0;
			padding: 10px 20px;
			border-bottom: 1px solid $color-gray-smooth;

			> div {
				padding: 0 !important;
			}
		}

		section.colors {
			padding: 10px 20px;
			border-bottom: 1px solid $color-gray-smooth;

			> div {
				padding: 0 5px !important;

				.description {
					padding-left: 5px;
				    text-overflow: ellipsis;
    				overflow: hidden;
				}

				.block-container {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 20px;
					padding: 0;
					margin-left: 15px;
				}

				.color-block {
					width: 10px;
					height: 10px;
				}

			}
		}

		footer {
			text-align: center;
		}

	}

	.modal-body {

		label {
			line-height: $line-height-large;
		}
		
		.form-group.required .control-label:after { 
		   content:"*";
		   color: $color-red-deep;
		}

		.form-submit {
			text-align: right;
			margin: 0;

			a:not(:first-of-type) {
				margin-left: $margin-10;
			}

		}		

	}
}