.developer-dashboard-project-campaign-create-content {
	.subpage {
		fieldset {
			&.time-frame {
				.row {
					margin-bottom: $margin-block;

					&:last-child {
						margin-bottom: 0;
					}

				}

			}

			&.add-rewards {
				.input-container {
					margin-bottom: $margin-block;

					&:last-child {
						margin-bottom: 0;
					}

				}

			}

		}

	}

}