.developer-dashboard-project-campaign-overview-content {
	padding-top: 0 !important;

	#top-up-cloudcoins {
		.top-up-options {
			margin-top: $margin-30;
		}
		.pop-up {
			margin-top: $margin-30;
			text-align: center;

			i {
				color: $color-purple-flashy 
			}
		}
	}

	.modal-dialog.medium {
		min-width: 800px;

		h2 {
			margin-left: $margin-10;
		}

	}

	.form-submit {
		text-align: right;
		margin: 0;

		a:not(:first-of-type) {
			margin-left: $margin-10;
		}
	}

	.rate-persona-to-campaign {

		.rate-this-persona {
			text-align: center;
			padding: $margin-block-small;
		}

		.select-dropdown {
			max-width: 250px;
		    padding: 0;
		    margin: auto;
		}

	}

	.added-persona-container {
		margin: $margin-40 0 0;
		border-radius: 5px;

		h3:first-child {
			float: left;
		}

		.tooltip-container {
			float: right;

			a.open-tooltip-button {
				color: $color-black-night;
			}

			.custom-tooltip {
				left: 45px;
				top: 183px;
			}
		}

		.added-persona {
			&__body {
				border-left: 1px solid $color-gray-clear;
				border-right: 1px solid $color-gray-clear;
				border-bottom: 1px solid $color-gray-clear;
				border-bottom-right-radius: $margin-5;
				border-bottom-left-radius: $margin-5;
			}
		}

		.added-persona__image {
			overflow: hidden;
		}

		img {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			max-height: 140px;
		}

		section {
			background: $color-white;
			padding: $margin-15 $margin-10;

			.header-medium.secondary:nth-of-type(2) {
				text-transform: none;
				color: $color-gray-clear;
				font-size: $font-size-3;
			}

			p {
				color: $color-black-night !important;
				margin: $margin-20 0;
			}

			.persona-rating {
				margin: $margin-20 0;

				> div {
					padding: 0;

					&:nth-of-type(2) {
						text-align: right;
					}
				}
			}

			a {
				margin: auto;
				display: block
			}
		}

	}

	.subpage,
	.subsection {
		display: none;
		opacity: 0;

		&#subpage-1 {
			.btn {
				margin: $margin-10;
			}

			.campaign-status-header {
				padding: 40px 0 0 0;
				margin: 0 0 10px 0;
				h2 {
					margin-bottom: $margin-10;
				}
			}
			.campaign-status {
				text-transform: uppercase;
				font-weight: 700;
				border-bottom: 1px solid $color-transparent-white;
				margin: 0;
				padding-top: $margin-10;

				div {
					margin-bottom: $margin-25;
				}
				.type-status {
					color: $color-gray-clear;
				}
				.completed {
					color: $color-black-night;
				}

				.type-sort {
					color: $color-white;
					&.required:after {
						content: "*";
						color: $color-red-deep;
						padding-left: $margin-5;
					}
				}

			}
		}

		&.active {
			animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
			display: block;
		}

		&#subpage-2 {
			article.block {
				margin-bottom: $margin-block-small;

				&:last-child {
					margin-bottom: 0;
				}

			}

		}
		&#subpage-3 {
			h2, p {
				color: $color-white;
				text-transform: none;
			}

			h2 > a {
				float: right;
			}

		}

		&#subpage-4 {
			.context-input {
				line-height: $line-height-large;
			}

			hr {
				margin: 0;
			}

			.options {
				@include paddingV($margin-block);
			}

			a {
				color: $color-purple-flashy;
				@include hover-focus {
					color: $color-purple-pitch;
				}
			}

		}

		&#subpage-5 {
			h2,
			.still-running p {
				color: $color-white;
				text-transform: none;
			}

			.still-running {
				margin-top: 100px;
				text-align: center;
			}

		}

	}

}

.developer-dashboard-project-campaign-overview-content {

	.cannot-find-persona p {
		line-height: 275%;
		a {
			font-weight: 700;
		}
	}

	.menu-subsection {
		@include paddingH($margin-5);
	}

	.link-to-subsection.active {
		color: $color-black-night;
	}

	#subsection-1 {
		min-height: 295px;

		.image-container {
			text-align: center;
		}

		img {
			max-width: 250px;
			height: auto;
		}

	}

	#subsection-2 {
		min-height: 450px;
	}

	#new-team-member {
		.added-persona {
			cursor: pointer;

			&:hover {
				* {
					border-color: $color-purple-flashy !important;
				}
				footer {
					background-color: $color-purple-flashy !important;
					color: $color-white !important;
				}
			}
		}

		.added-persona__image {
			padding: 0;
			border: 1px solid $color-gray-clear;
			border-top-left-radius: $margin-5;
			border-top-right-radius: $margin-5;
		}

		.added-persona__body {
			padding: $margin-10 0 0;
			margin: 0 0 $margin-15;

			> *:not(section) {
				min-width: 100%;
				padding-left: $margin-15;
				padding-right: $margin-15;
				box-sizing: border-box;
			}

			> h3:last-of-type {
				padding-bottom: $margin-10;
				border-bottom: 1px solid $color-gray-clear;
			}

			> p {
				margin: 10px 0 0;
				padding-bottom: 10px;
				border-bottom: 1px solid $color-gray-clear;
			}

			> div {
				border-bottom: 1px solid $color-gray-clear;
				margin: 10px 0 0;
				padding-bottom: 10px;
				border-bottom: 1px solid $color-gray-clear;
			}

			> footer {
				border-radius: 0;
				border: 0;
				i {
					font-size: 83%;
				}
			}

		}		
	}
}