.developer-dashboard-project-campaign-overview-content {
	padding-top: 0 !important;

	.modal-dialog.medium {
		min-width: 800px;
	}

	.form-submit {
		text-align: right;
	}

	.rate-persona-to-campaign {

		.rate-this-persona {
			text-align: center;
			padding: $margin-block-small
		}

		li {

			&.select-dropdown {
				text-align: left;
				border: solid 1px $color-menu-items;
				border-radius: 5px;
				padding: $margin-input-small;
				font-size: $font-size-menu-subpage;
				z-index: 1;
				display: block;
				position: relative;
				width: 250px;
				margin: auto;

				> a {
					color: $color-clear-gray;
					font-size: $font-size-header-small;

					&:hover {
						color: $color-white;
					}
				}

				.submenu {

					visibility: hidden;
					opacity: 0;
					display: none;
					padding: 0 $margin-input-small;
					z-index: -1;
					background: $color-white;
					color: $color-text-secondary;
					font-size: $font-size-button;
					position: absolute;
					left: -1px;
					top: 26px;
					border-radius: 5px;
					border: solid 1px $color-menu-items;
					border-top: 0;
					width: 250px;
					text-align: left;

					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;

						&:hover {
							color: $color-button-hover;
						}
					}

				}
			}
			&.select-dropdown:hover {

				.icon {
					transform: scaleY(-1);
					filter: FlipH;
				}

				.submenu {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					visibility: visible;
					opacity: 1;
					display: inline-block;
					padding: $margin-input-small;
				}
			
			}
		}

	}

	.added-persona-container {
		margin: $margin-40 0;
		border-radius: 5px;

		h3:first-child {
			float: left;
		}

		.tooltip-container {
			float: right;

			a.open-tooltip-button {
				color: $color-night-black;
			}

			.custom-tooltip {
				left: 45px;
				top: 183px;
			}
		}

		.added-persona {
			&__body {
				border-left: 1px solid $color-input-border;
				border-right: 1px solid $color-input-border;
				border-bottom: 1px solid $color-input-border;
				border-bottom-right-radius: $margin-5;
				border-bottom-left-radius: $margin-5;
			}
		}

		.added-persona__image {
			overflow: hidden;
		}

		img {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			max-height: 140px;
		}

		section {
			background: $color-white;
			padding: $margin-15 $margin-10;

			.header-medium.secondary:nth-of-type(2) {
				text-transform: none;
				color: $color-clear-gray;
				font-size: $font-size-3;
			}

			p {
				color: $color-text !important;
				margin: $margin-20 0;
			}

			.persona-rating {
				margin: $margin-20 0;

				> div {
					padding: 0;

					&:nth-of-type(2) {
						text-align: right;
					}
				}
			}

			a {
				margin: auto;
				display: block
			}
		}

	}

	.subpage,
	.subsection {
		display: none;
		opacity: 0;

		&.active {
			animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
			display: block;
		}

		&#subpage-2 {
			article.block {
				margin-bottom: $margin-block-small;

				&:last-child {
					margin-bottom: 0;
				}

			}

		}
		&#subpage-3 {
			h2, p {
				color: $color-text-secondary;
				text-transform: none;
			}

			h2 > a {
				float: right;
			}

		}

		&#subpage-4 {
			.context-input {
				line-height: $line-height-large;
			}

			hr {
				margin: 0;
			}

			.options {
				@include paddingV($margin-block);
			}

			a {
				color: $color-action-text;
				@include hover-focus {
					color: $color-footer-dev-dashboard;
				}
			}

		}

		&#subpage-5 {
			h2,
			.still-running p {
				color: $color-text-secondary;
				text-transform: none;
			}

			.still-running {
				margin-top: 100px;
				text-align: center;
			}

		}

	}

}

.developer-dashboard-project-campaign-overview-content {
	#new-team-member {

		.added-persona {
			cursor: pointer;

			&:hover {
				* {
					border-color: $color-input-hover !important;
				}
				footer {
					background-color: $color-input-hover !important;
					color: $color-white !important;
				}
			}
		}

		.added-persona__image {
			padding: 0;
			border: 1px solid $color-input-border;
			border-top-left-radius: $margin-5;
			border-top-right-radius: $margin-5;
		}

		.added-persona__body {
			padding: $margin-10 0 0;
			margin: 0 0 $margin-15;

			> *:not(section) {
				min-width: 100%;
				padding-left: $margin-15;
				padding-right: $margin-15;
				box-sizing: border-box;
			}

			> h3:last-of-type {
				padding-bottom: $margin-10;
				border-bottom: 1px solid $color-input-border;
			}

			> p {
				margin: 10px 0 0;
				padding-bottom: 10px;
				border-bottom: 1px solid $color-input-border;
			}

			> div {
				border-bottom: 1px solid $color-input-border;
				margin: 10px 0 0;
				padding-bottom: 10px;
				border-bottom: 1px solid $color-input-border;
			}

			> footer {
				border-radius: 0;
				border: 0;
				i {
					font-size: 83%;
				}
			}

		}		
	}
}