.developer-dashboard-project-overview-content {

	.content-wrapper {
		padding: 0 .35rem;
	}

	article {
		&.block-fill-half {
			@include paddingH($margin-10);

			&:nth-last-of-type(-n+2) {
				margin-bottom: 0;
			}

			@include breakpoint(phablet) {
				&:nth-last-of-type(-n+2) {
					margin-bottom: $margin-30;
				}

				&:last-child {
					margin-bottom: 0;
				}

			}

		}

		&.project-profile {
			.content {
				> p {
					max-width: 92%;
				}
				
				.form-submit {
					text-align: right;
					margin: 0;

					a:not(:first-of-type) {
						margin-left: $margin-10;
					}
				}


			}

			.data {
				p {
					margin-bottom: $margin-10;

					&:last-child {
						margin-bottom: 0;
					}

				}

			}

		}

		&.campaigns {
			.row {
				> div {
					&:first-child {
						border-right: 1px solid $color-gray-clear;
					}

				}

			}

			.content {
				@include paddingV(48px);
				text-align: center;

				p {
					margin-bottom: 0;

					&:last-child {
						color: $color-purple-flashy;
						font-size: 70px;
					}

				}

			}

		}

		&.connectors {
			.flashy {
				color: $color-purple-flashy;
				margin-bottom: $margin-5;
			}
		}

		&.requirements, &.business-modal {
			.force-row {
				width: 50%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				float: left;
			}
		}

		&.project-logo {

			.content {
				padding: 0;
				text-align: middle;

				> img {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
			
		}

		&.team {

			.row {
				> div {
					&:not(:last-child) {
						border-right: 1px solid $color-gray-clear;
					}

				}

			}

			.content {
				@include paddingV(48px);
				text-align: center;

				p {
					margin-bottom: 0;

					&:last-child {
						color: $color-purple-flashy;
						font-size: 70px;
					}

				}

			}

		}

		&.documents {
			.flashy {
				color: $color-purple-flashy;
				margin-bottom: $margin-5;
			}
		}

		&.blog {
			.blog-image {
				height: 110px;
				overflow: hidden;
			}

		}

		&.messaging {
			.content {
				.data {
					margin: 0 0 $margin-10;

					div.img-circle {
						width: 80px;
						height: 80px;
						background-size: cover;
						margin: 0 auto $margin-5;
						display: inline-block;
						float: left;
					}

					p {
						margin-bottom: 0;
						margin-left: 100px;
					}

					& + p {
						margin-top: 50px;
					}

				}

			}

		}

		&.customer-ideas {
			.flashy {
				color: $color-purple-flashy;
				margin-bottom: $margin-5;
			}
		}

	}

}