.developer-dashboard-project-overview-content {

	.content-wrapper {
		padding: 0 .35rem;
	}

	article {
		.container {
			padding-left: 0;
			padding-right: 0;
		}

		&.block-fill-half {
			clear: none;
			float: left;

			@include paddingH($margin-10);
			@include breakpoint(phablet) {
				&:nth-last-of-type(-n+2) {
					margin-bottom: $margin-30;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.background {
				height: 234px;
				min-height: 234px;
				max-height: 234px;
			}
		}

		&.project-profile {
			.content {
				> p {
					max-width: 92%;
				}

				.form-submit {
					text-align: right;
					margin: 0;

					a:not(:first-of-type) {
						margin-left: $margin-10;
					}
				}
			}

			.data {
				p {
					margin-bottom: $margin-10;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&.campaigns {
			.row {
				> div {
					&:first-child {
						border-right: 1px solid $color-gray-clear;
					}
				}
			}

			.content {
				@include paddingV(48px);
				text-align: center;

				p {
					margin-bottom: 0;

					&:last-child {
						color: $color-purple-flashy;
						font-size: 70px;
					}
				}
			}
		}

		&.connectors {
			.flashy {
				color: $color-purple-flashy;
				margin-bottom: $margin-5;
			}
			.connector {
				margin-bottom: $margin-20;
				padding-left: 0;
				padding-right: 0;

				.bold.flashy:after {
					background-color: $color-green-grass;
					border-radius: 50%;
					content: '';
					height: $margin-10;
					margin-left: $margin-15;
					padding: 0 $margin-5;
					position: absolute;
				}

				.highlight {
					font-size: $font-size-extra-small;
				}
			}
		}

		&.requirements, &.business-modal {
			.force-row {
				float: left;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 50%;
			}
		}

		&.project-logo {
			.content {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				height: 189px;
				padding: 0;
				text-align: center;

				> .background-image {
					background-color: $color-gray-faded;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					height: 189px;
				}
			}
		}

		&.team {
			.row {
				> div {
					&:not(:last-child) {
						border-right: 1px solid $color-gray-clear;
					}
				}
			}

			.content {
				@include paddingV(48px);
				text-align: center;

				p {
					margin-bottom: 0;

					&:last-child {
						color: $color-purple-flashy;
						font-size: 70px;
					}
				}
			}
		}

		&.documents {
			.flashy {
				color: $color-purple-flashy;
				margin-bottom: $margin-5;
			}
		}

		&.blog {
			.blog-image {
				height: 110px;
				overflow: hidden;
			}

		}

		&.messaging {
			.content {
				.data {
					margin: 0 0 $margin-10;

					div.img-circle {
						background-size: cover;
						display: inline-block;
						float: left;
						height: 80px;
						margin: 0 auto $margin-5;
						width: 80px;
					}

					p {
						margin-bottom: 0;
						margin-left: 100px;
					}

					& + p {
						margin-top: 50px;
					}
				}
			}
		}

		&.customer-ideas {
			.flashy {
				color: $color-purple-flashy;
				margin-bottom: $margin-5;
			}
		}
	}
}