.developer-dashboard-project-overview-content {
	article {
		&.block-fill-half {
			@include paddingH($margin-block-extra-small);

			&:nth-last-of-type(-n+2) {
				margin-bottom: 0;
			}

			@include breakpoint(phablet) {
				&:nth-last-of-type(-n+2) {
					margin-bottom: $margin-block-bottom;
				}

				&:last-child {
					margin-bottom: 0;
				}

			}

		}

		&.project-profile {
			.content {
				> p {
					max-width: 92%;
				}

			}

			.data {
				p {
					margin-bottom: $margin-p-secondary;

					&:last-child {
						margin-bottom: 0;
					}

				}

			}

		}

		&.campaigns {
			.row {
				> div {
					&:first-child {
						border-right: 1px solid $color-block-lines;
					}

				}

			}

			.content {
				@include paddingV(48px);
				text-align: center;

				p {
					margin-bottom: 0;

					&:last-child {
						color: $color-flashy-purple;
						font-size: 70px;
					}

				}

			}

		}

		&.team {
			.content {
				padding-top: $margin-block-small - $margin-block / 2;
				padding-bottom: $margin-block-small - $margin-block / 2;

				.row {
					> div {
						margin-top: $margin-block / 2;
						margin-bottom: $margin-block / 2;
						text-align: center;
					}

				}

				.img-container {
					&.online {
						@extend .online-state;
					}

				}

				.img-circle {
					width: 100%;
					padding-bottom: 100%;
					// height = 100% of width
					background-image: url('../img/placeholders/team_user.svg');
					background-position: center;
					background-size: cover;
				}

			}

		}

		&.documents {
			.content {
				padding: 0 0 $margin-block;

				.document {
					border-bottom: 1px solid $color-block-lines;
					padding: $margin-block-extra-small $margin-block $margin-block-extra-small;

					&:first-child {
						padding-top: $margin-block;
					}

					&:last-child {
						border: none;
						padding-bottom: 0;
					}

					p {
						display: inline-block;
						margin-bottom: 0;
					}

					a {
						float: right;
					}

				}

			}

		}

		&.blog {
			.blog-image {
				height: 110px;
				overflow: hidden;
			}

		}

		&.messaging {
			.content {
				.data {
					margin: 0 0 $margin-p-secondary;
					text-align: center;

					div.img-circle {
						width: 80px;
						height: 80px;
						background-size: cover;
						margin: 0 auto $margin-5;
						display: inline-block;
					}

					p {
						margin-bottom: 0;
					}

				}

			}

		}

		&.customer-ideas {
			.data {
				p {
					display: inline-block;
					margin-bottom: 0;

					&:last-child {
						margin-left: $margin-p-secondary;
					}

				}

			}

		}

	}

}