.page-developer-dashboard-project-personas {

	.new-persona {
		min-height: 100%;
	}

	.added-persona-container {
		margin: $margin-40 0 0;
		border-radius: 5px;

		h3:first-child {
			float: left;
		}

		.tooltip-container {
			float: right;

			a.open-tooltip-button {
				color: $color-black-night;
			}

			.custom-tooltip {
				left: 45px;
				top: 183px;
			}
		}

		.added-persona {
			&__body {
				border-left: 1px solid $color-gray-clear;
				border-right: 1px solid $color-gray-clear;
				border-bottom: 1px solid $color-gray-clear;
				border-bottom-right-radius: $margin-5;
				border-bottom-left-radius: $margin-5;
			}
		}

		.added-persona__image {
			overflow: hidden;
		}

		img {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			max-height: 140px;
		}

		section {
			background: $color-white;
			padding: $margin-15 $margin-10;

			.header-medium.secondary:nth-of-type(2) {
				text-transform: none;
				color: $color-gray-clear;
				font-size: $font-size-small;
			}

			p {
				color: $color-black-night !important;
				margin: $margin-20 0;
			}

			.persona-rating {
				margin: $margin-20 0;

				> div {
					padding: 0;

					&:nth-of-type(2) {
						text-align: right;
					}
				}
			}

			a {
				margin: auto;
				display: block
			}
		}

	}

	.modal-dialog.medium {
		min-width: 800px;

		.modal-header {
			padding: 20px 25px;

			h2 {
				margin-left: 10px;
			}

			.icon-close {
				margin-top: 5px;
			}
		}

		.modal-body {
			padding: 0 15px 15px;

			.menu-subpage {
				padding: 10px 0.9rem;
			}

			.link-to-subpage.active {
				color: $color-black-night !important;
			}

			#subpage-1 {
				height: 375px;
			}

			#subpage-2 {
				height: 500px;
			}

			#subpage-3 {
				height: 350px;
			}

			.inform-block {
				margin-bottom: $margin-10;
			}

			.confirm-wrapper, .sending-wrapper {
				margin-top: 20%;
				text-align: center;

				i {
					color: $color-purple-solid;
				}
			}

		}

		.form-group.required .control-label:after { 
		   content:"*";
		   color: $color-red-deep;
		}

		.add-image-button {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: -4px auto $margin-10;
			background-color: $color-gray-soft;
		}

		.fieldset-upload {
			width: 100%;
			height: 100%;
		}

		.file-upload-image {
			border: 2px dashed $color-gray-clear;
			width: 100%;
			height: 300px;
			text-align: center;
			cursor: pointer;
			transition: background $transition-time-2 $easing-1;
			transition: border $transition-time-2 $easing-1;

			&:hover {
				border: 3px solid $color-gray-soft;
				background: $color-gray-soft;
			}

		}

		.file-upload-image .icon {
			position: relative;
			color: $color-white;
			font-size: 60px;
		}

		#file-upload {
			display: none;
		}

		.form-submit {
			text-align: right;
			margin: 0;

			a:not(:first-of-type) {
				margin-left: $margin-10;
			}

		}

	}

	.persona-add-button {
		margin: $margin-10 0;

		> a {
			margin-top: $margin-10;
		}
	}

	.persona-download a {
		color: $color-purple-flashy;
	}

	.persona-add-button:after {
		content: " ";
		background: $color-transparent-white;
		width: 100vw;
		height: 0px; // broken for now
		position: fixed;
		top: 200px;
		left: -30px;
		z-index: 10;
	}

	.create-new-persona {
		margin: $margin-10 0;

		.background {
			padding: 183px 0;
		}
	}

	.persona-property-column {
		height: 50px;
		text-align: center;
	}

	.percentage-wrapper {
		padding: $margin-10;
	}

	.persona-percentage-block {
		float: left;
		height: 50px;
		cursor: pointer;
		font-size: $font-size-extra-small;
		color: $color-gray-clear;		
		display: flex;
		display: -webkit-flex;
		flex-flow: row wrap;
		justify-content: center;
		@include paddingV($margin-10);

		&:first-of-type > .persona-percentage-item {
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
		}

		&:last-of-type > .persona-percentage-item {
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}

		.persona-percentage-context {
			display: block;
			text-align: center;
		}

		.persona-percentage-item {
			height: 15px;
			width: 100%;
			border-width: 0px;
		}

		.item-1 {
			background-color: #8F498F;
			border-color: #8F498F;
		}

		.item-2 {
			background-color: #712555;
			border-color: #712555;
		}

		.item-3 {
			background-color: #E16D60;
			border-color: #E16D60;
		}

		.item-4 {
			background-color: #E19B60;
			border-color: #E19B60;
		}

		.item-5 {
			background-color: #B83C5E;
			border-color: #B83C5E;
		}

		.item-6 {
			background-color: #314DA0;
			border-color: #314DA0;
		}
		
		&:hover > .persona-block-popup {
			display: flex;
			display: -webkit-flex;
		}

		&:hover > .persona-percentage-context {
			display: none;
		}

		.persona-block-popup  {
			z-index: 10;
			border-radius: $margin-5;
			border-width: 1px;
			border-style: solid;
			position: relative;
			background-color: $color-white;
			align-self: center;
			-webkit-align-self: center;
			top: 10px;;
			display: none;
			float: left;
			white-space: nowrap;
			@include paddingH($margin-5);

			&:before {
				content: "";
				width: 10px;
				position: absolute;
				height: 10px;
				margin: auto;
				background-color: #FFF;
				transform: rotate(45deg);
				border-top: 1px solid;
				border-left: 1px solid;
				border-color: inherit;
				z-index: -1;
				top: -5px;
				left: 0;
				right: 0;
				float: left;
			}
		}

	}

}