.developer-dashboard-project-profile-content {
	article {
		.content {
			h2 {
				margin-bottom: $margin-header-small;
			}

			&.project-choices {
				fieldset {
					width: 50%;
				}
			}

			&.project-images {
				.row {
					> div {
						&:first-child {
							img {
								margin-bottom: $margin-image;
							}
						}
					}
				}

				img {
					border-radius: 5px;
				}

				.img-edit-container {
					position: relative;

					.icon {
						position: absolute;
						top: 4px;
						right: 4px;
						background-color: $color-white;
						padding: 3px 4px 4px;
						border-radius: 50%;
						color: $color-flashy-purple;
					}
				}
			}

			&.project-description {
				h2 {
					display: inline-block;
				}

				p.highlight {
					display: inline-block;
					letter-spacing: 0;
					margin-left: $margin-header-extra-small;
				}

				textarea {
					padding-right: 45px;
				}
			}

			&:last-child {
				border: none;
			}
		}
	}
}