#page-developer-dashboard-project-create {

}

#create-project {
	margin: $margin-30 0;

	.article-header {

		.icon {
			float: left;
			padding-top: $margin-5;
		}

		h2 {
			float: left;
			margin-left: 10px;
		}

		.header-small {
			float: right;
		}

	}

	.form-group.required .control-label:after { 
	   content:"*";
	   color: $color-red-deep;
	}

	.add-image-button {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: -4px auto $margin-10;
		background-color: $color-gray-soft;
	}

	.fieldset-upload {
		height: 230px;
	}

	.file-upload-image {
		border: 2px dashed $color-gray-clear;
		max-width: 400px;
		width: 100%;
		height: 200px;
		text-align: center;
		cursor: pointer;
		transition: background $transition-time-2 $easing-1;
		transition: border $transition-time-2 $easing-1;

		&:hover {
			border: 3px dashed $color-gray-soft;
			background: $color-gray-soft;
		}

		p.meta.big {
			font-weight: 400;
		}

	}

	.file-upload-image .icon {
		position: relative;
		color: $color-gray-clear;
		font-size: 60px;
	}

	#file-upload {
		display: none;
	}

	.form-submit {
		text-align: right;
		margin: 0;

		a:not(:first-of-type) {
			margin-left: $margin-10;
		}
	}

	fieldset {
		+ hr {
			min-width: 690px;
			margin-left: -20px;
		}
	}

}