.developer-dashboard-project-requirements-content {

	article.requirement {
		height: auto;
		margin-bottom: $margin-block-bottom;

		header {
			position: relative;
			padding: $margin-10 $margin-20 !important;

			h2,
			h3 {
				max-width: 260px;
			}

			.tooltip-container {
				display: block;
				margin: 0;
				position: absolute;
				right: 15px;
				top: 15px;

				a {
					i {
						color: $color-text;
					}

				}

			}

			.custom-tooltip {
				right: -5px;
				top: 35px;
			}

		}

		.content {
			&.dates {
				p {
					display: inline-block;
					font-weight: $font-weight-bold;
					letter-spacing: 1px;
					margin-bottom: 0;
					margin-right: $margin-item;
					vertical-align: middle;

					&:last-child {
						margin-right: 0;
					}

				}

			}

			&.data {
				table {
					width: 100%;

					p {
						display: inline-block;
						vertical-align: middle;
					}

					tr {
						td {
							margin-bottom: $margin-table-row;

							&:first-child {
								padding-left: 0;
								width: 66%;
							}

							&:last-child {
								padding-right: 0;
								text-align: right;
								width: 33%;
							}

						}

						&:last-child {
							td {
								margin-bottom: 0;
							}

						}

					}

				}

			}

			&.user {
				.vertical-align {
					@include marginH(-$margin-5);

					.middle {
						@include paddingH($margin-5);

						&.image-container {
							width: 40%;

							img {
								width: 110px;
							}

						}

						&.data-container {
							width: 60%;
						}

					}

					.description {
						max-width: 175px;
						max-height: 60px;
						margin-bottom: 0.5rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

				}

				.meta {
					letter-spacing: 1px;
				}

			}

		}

		footer {
			text-align: center;
		}

		&.public-campaign {
			.background {
				header,
				.content,
				footer {
					border-left: 1px solid $color-block-border;
					border-right: 1px solid $color-block-border;
				}

				header {
					border-top: 1px solid $color-block-border;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				footer {
					border-bottom: 1px solid $color-block-border;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

			}

			.btn {
				margin-bottom: $margin-input-small;

				&:last-child {
					margin-bottom: 0;
				}
			}

		}

	}

}

#create-scenario {
	margin: $margin-30 0;

	header.article-header {
		padding: $margin-10 $margin-20 !important;

		.icon {
			float: left;
			padding-top: $margin-5;
		}

		h2 {
			float: left;
			margin-left: 10px;
		}

		.header-small {
			float: right;
		}

	}

	.form-group.required .control-label:after { 
	   content:"*";
	   color: $color-required;
	}

	.add-image-button {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: -4px auto $margin-10;
		background-color: $color-soft-gray;
	}

	.fieldset-upload {
		height: 230px;
	}

	.file-upload-image {
		border: 2px dashed $color-input-border;
		max-width: 400px;
		width: 100%;
		height: 200px;
		text-align: center;
		cursor: pointer;
		transition: background $transition-time-2 $easing-1;
		transition: border $transition-time-2 $easing-1;

		&:hover {
			border: 3px dashed $color-soft-gray;
			background: $color-soft-gray;
		}

		p.meta.big {
			font-weight: 400;
		}

	}

	.file-upload-image .icon {
		position: relative;
		color: $color-clear-gray;
		font-size: 60px;
	}

	#file-upload {
		display: none;
	}

	.form-submit {
		text-align: right;
		margin: 0;

		a:not(:first-of-type) {
			margin-left: $margin-10;
		}
	}

	fieldset {
		+ hr {
			min-width: 690px;
			margin-left: -20px;
		}
	}

}

.developer-dashboard-project-requirements-scenario {
	padding-top: 0 !important;

	header.article-header {
		padding: $margin-10 $margin-20 !important;

		.header-small {
			text-align: right;
		}
	}
}