.page-developer-dashboard-project-rewards {

	.reward {

		h2.header-medium.secondary {
			margin: $margin-10;
			color: $color-white !important;
			line-height: 185%;

			a {
				float: right;
			}
		}

	}

	.added-reward {
		background-color: $color-white;
		border-radius: $margin-5;
		padding: 0;
		margin-top: $margin-10;

		.reward-header {
			background-color: $color-soft-gray;
			padding: $margin-10;
			border-top-right-radius: $margin-5;
			border-top-left-radius: $margin-5;
		}

		.reward-content {

		}
	}

	.modal-dialog.medium {
		min-width: 800px;

		> .block {
			height: 765px;
		}

		.modal-header {
			padding: $margin-10 $margin-25;;
		}

		.form-group.required .control-label:after { 
		   content:"*";
		   color: $color-required;
		}

		.modal-body {
			padding: 0 $margin-15 $margin-15;

		}

		.input-container a {
			color: $color-flashy-purple;
		}

		.form-group.required .control-label:after { 
		   content:"*";
		   color: $color-required;
		}

		.add-image-button {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: -4px auto $margin-10;
			background-color: $color-soft-gray;
		}

		.fieldset-upload {
			width: 100%;
			height: 100%;
		}

		.file-upload-image {
			border: 2px dashed $color-input-border;
			width: 100%;
			height: 270px;
			text-align: center;
			cursor: pointer;
			transition: background $transition-time-2 $easing-1;
			transition: border $transition-time-2 $easing-1;

			&:hover {
				border: 3px solid $color-soft-gray;
				background: $color-soft-gray;
			}

		}

		.file-upload-image .icon {
			position: relative;
			color: $color-white;
			font-size: 60px;
		}

		#file-upload {
			display: none;
		}

		.form-submit {
			text-align: right;
			margin: 0;

			a:not(:first-of-type) {
				margin-left: $margin-10;
			}

		}

	}

}