.developer-dashboard-project-services-content {

	h2.header-medium {
		margin-bottom: $margin-10;
	}

	article.service {
		height: auto;
		margin-bottom: $margin-30;

		footer {
			text-align: center;
		}

	}

}