.developer-dashboard-project-services-content {

	h2.header-medium {
		margin-bottom: $margin-10;
	}

	article.service {
		height: auto;
		margin-bottom: $margin-30;

		img {
			border-top-right-radius: $margin-5;
			border-top-left-radius: $margin-5;
		}

		footer {
			text-align: center;
		}

	}

}