.developer-dashboard-project-team-content {
	padding-bottom: 0 !important;

	> .row {
		@extend .flex;
	}

	header {
		margin-bottom: $margin-header;

		img {
			height: auto;
			width: 150px;
		}

		h2.header-large {
			color: $color-text-secondary;
			display: inline-block;
			font-family: $font-header-secondary;
			letter-spacing: $letter-spacing-2;
			margin-left: $margin-header;
			margin-right: $margin-header-small;
			text-transform: none;
			vertical-align: middle;
		}

		.tooltip-container {
			display: inline-block;
			font-size: 0;
			position: relative;
			vertical-align: middle;

			// .more-options {
			// 	path {
			// 		fill: $color-text-secondary;
			// 	}
			// }

			.custom-tooltip {
				right: -5px;
				top: 35px;
			}
		}
	}

	article.team-member {
		@extend .clear-3;
		height: auto;
		min-height: 224px;
		margin-bottom: $margin-block-bottom;
		text-align: center;

		.background {
			min-height: 224px;
			position: relative;
		}

		.image-container {
			height: auto;
			margin: 0 auto $margin-image;
			width: 100px;

			&.online-state {
				&:after {
					height: 20px;
					width: 20px;
				}
			}
		}

		&.add-item {
			@extend .add-item;
			height: 224px;

			p {
				margin: 0 auto;
				max-width: 175px;
			}
		}

		.tooltip-container {
			position: absolute;
			top: 15px;
			right: 15px;

			.custom-tooltip {
				left: -2px;
				top: 35px;

				&:after {
					left: 15px;
					right: auto;
				}
			}
		}
	}

	.modal#popup-team-member-full-profile {
		.modal-header {
			text-align: center;

			.image-container {
				height: auto;
				margin: 0 auto;
				margin-bottom: $margin-image;
				width: 100px;

				&.online-state {
					&:after {
						height: 20px;
						width: 20px;
					}
				}
			}
		}

		.modal-body {
			.row {
				> div {
					margin-bottom: $margin-block-bottom;

					&:nth-last-of-type(-n+2) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}