.developer-dashboard-project-team-content {
	padding-bottom: 0 !important;

	header {
		margin-bottom: $margin-header;

		div.icon {
			width: 150px;
			height: 150px;
			background-size: contain;
			border-radius: 50%;
			background-image: url('../img/placeholders/team_cover.svg');
			background-position: center;
		}

		h2.header-large {
			color: $color-text-secondary;
			display: inline-block;
			font-family: $font-header-secondary;
			letter-spacing: $letter-spacing-2;
			margin-left: $margin-header;
			margin-right: $margin-header-small;
			text-transform: none;
			vertical-align: middle;
		}

		.tooltip-container {
			display: inline-block;
			font-size: 0;
			position: relative;
			vertical-align: middle;

			.custom-tooltip {
				right: -5px;
				top: 35px;
			}

		}

	}

	article.team-member {
		height: auto;
		min-height: 224px;
		margin-bottom: $margin-block-bottom;
		text-align: center;

		.background {
			min-height: 224px;
			position: relative;
		}

		.image-container {
			height: auto;
			margin: 0 auto $margin-image;
			width: 100px;

			.img-circle {
				width: 100%;
				padding-bottom: 100%; // same height as width
				background-size: cover;
				background-image: url('../img/placeholders/team_user.svg');
				background-position: center;
			}

			&.online-state {
				&:after {
					height: 20px;
					width: 20px;
				}

			}

		}

		&.add-item {
			@extend .add-item;
			height: 224px;

			p {
				margin: 0 auto;
				max-width: 175px;
			}

		}

		.tooltip-container {
			position: absolute;
			top: 15px;
			right: 15px;

			a {
				i {
					color: $color-text;
				}

			}

			.custom-tooltip {
				left: -2px;
				top: 35px;

				&:after {
					left: 15px;
					right: auto;
				}

			}

		}

	}

	.modal-dialog.medium {
		min-width: 800px;
	}

	.modal.popup-team-member-full-profile {
		.modal-header {
			text-align: center;

			.image-container {
				height: auto;
				margin: 0 auto;
				margin-bottom: $margin-image;
				width: 100px;

				.img-circle {
					width: 100%;
					padding-bottom: 100%; // same height as width
					background-size: cover;
				}

				&.online-state {
					&:after {
						height: 20px;
						width: 20px;
					}

				}

			}

		}

		.modal-body {
			.row {
				> div {
					margin-bottom: $margin-block-bottom;

					&:nth-last-of-type(-n+2) {
						margin-bottom: 0;
					}

				}

			}

		}

	}

	.modal.popup-team-member-add-new {


		header.modal-header {
			margin-bottom: 0;

			.icon {
				margin-top: 0;
			}
		}

		.modal-body {
			padding-top: 0;

			.menu-subpage {
				padding-bottom: 0;
				+ hr {
					margin-top: 0;
				}
			}

			ul {
				padding: $margin-10;
			}

			li.active {
				color: $color-text;
			}

			.subpage {
				padding: $margin-10;
			}

			.pop-up {
				text-align: center;

				i {
					color: $color-button 
				}
			}

			fieldset {
				+ hr {
					// Dirty, look at it later
					min-width: 800px;
					margin-left: -10px;
				}
			}

			fieldset:not(.form-submit) {
				max-width: 60%;
				padding: 0 $margin-10;
			}


			.form-group.required .control-label:after {
			  content: "*";
			  color: $color-required;
			}

			.form-submit {
				text-align: right;
			}

			.search-member-container {
				min-width: 602px;
				margin-right: $margin-20;
			}

			select {
				option {
					font-size: $font-size-header-medium;
				}
			}

			.load-more {
				text-align: center;
				color: $color-action-text;
			}

			.team-member-invite {
				.img-circle {
					width: 50px;
					height: 50px;
				}

				.middle {
					padding: $margin-block;
					padding-top: 0;
				}
				.member-name {
					width: 200px;
					max-width: 200px;

					h2 {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}

		}

	}

}