// ---------------------
// Buttons
// ---------------------

.btn {
	@include antialiasText();
	background: $color-button;
	border: 1px solid $color-button;
	border-radius: 5px;
	color: $color-text-secondary;
	font-size: $font-size-button;
	font-weight: $font-weight-bold;
	letter-spacing: 2px;
	line-height: 1.2;
	@include paddingH($margin-button-H);
	@include paddingV($margin-button-V);
	text-transform: uppercase;
	transition: background $transition-time-1 $easing-1, color $transition-time-1 $easing-1;

	.icon-size-s {
		margin-top: -1px;
	}

	&:hover, &:focus {
		background: $color-button-hover;
		border-color: $color-button-hover;
		color: $color-text-secondary;
	}
}

.btn-transparent {
	@extend .btn;
	@include antialiasText('subpixelantialiased');
	background: none;
	color: $color-button;

	&:hover {
		background: $color-button;
		color: $color-text-secondary;
	}
}

.btn-green {
	@extend .btn;
	background: $color-success;
	border-color: $color-success;
	padding-left: $margin-button-V;

	&:hover {
		background: $color-success-hover;
		border-color: $color-success-hover;
		color: $color-text-secondary;
	}

	// .icon.add {
	// 	height: 10px;
	// 	margin-right: $margin-button-V;
	// 	width: 10px;

	// 	path {
	// 		stroke: $color-text-secondary;
	// 		stroke-width: 1.5px;
	// 	}
	// }
}

.btn-grey {
	@extend .btn;
	background: $color-light-grey;
	border-color: $color-light-grey;
	color: $color-highlight;

	// .delete {
	// 	path {
	// 		stroke: $color-highlight;
	// 	}
	// }

	&:hover {
		background: $color-light-grey-secondary;
		border-color: $color-light-grey;
		color: $color-highlight !important;

		// .delete {
		// 	path {
		// 		stroke: $color-highlight;
		// 	}
		// }
	}
}

.btn-confirm {
	@extend .btn;
	background: $color-success;
	border-color: $color-success;

	&:hover {
		background: $color-success-hover;
		border-color: $color-success-hover;
		color: $color-text-secondary;
	}

	// .icon {
	// 	height: 10px !important;
	// 	width: 10px !important;

	// 	path {
	// 		fill: none;
	// 		stroke: $color-text-secondary;
	// 		stroke-width: 1.5px;

	// 	}
	// }
}

.btn-decline {
	@extend .btn;
	background: none;
	border-color: $color-decline;
	color: $color-decline;

	// .icon {
	// 	height: 10px !important;
	// 	width: 10px !important;

	// 	path {
	// 		fill: $color-button;
	// 		transition: fill $transition-time-1 $easing-1;
	// 	}
	// }

	&:hover {
		background: $color-decline;
		color: $color-text-secondary;

		// .icon {
		// 	path {
		// 		fill: $color-text-secondary;
		// 	}
		// }
	}
}

.btn-download {
	color: $color-button;

	// .icon {
	// 	height: auto;
	// 	margin-left: $margin-icon;
	// 	width: 14px;

	// 	path {
	// 		fill: $color-button;
	// 	}
	// }

	&:hover {
		color: $color-button;
	}
}

.btn-upload {
	display: inline-block;
	text-align: center;

	.upload-image {
		background: $color-text-secondary;
		border: 3px solid $color-block-border;
		border-radius: 5px;
		height: 100px;
		margin-bottom: $margin-item;
		transition: background $transition-time-1 $easing-1, border-color $transition-time-1 $easing-1, color $transition-time-1 $easing-1;
		width: 100px;

		// .icon {
		// 	path {
		// 		fill: $color-button;
		// 	}
		// }
	}

	&:hover {
		.upload-image {
			background: $color-button;
			border-color: $color-button;

			// .icon {
			// 	path {
			// 		fill: $color-text-secondary;
			// 	}
			// }
		}

		p {
			&:after {
				opacity: 1;
				transition: opacity $transition-time-1 $easing-1;
			}
		}
	}
}