.btn {
	@include antialiasText();
	background: $color-button;
	border: 2px solid $color-button;
	border-radius: 5px;
	color: $color-text-secondary;
	font-size: $font-size-button;
	font-weight: $font-weight-bold;
	letter-spacing: 2px;
	line-height: 1.2;
	@include paddingH($margin-button-H);
	@include paddingV($margin-button-V);
	text-transform: uppercase;
	transition: background $transition-time-2 $easing-1, color $transition-time-2 $easing-1;

	&.big {
		font-size: $font-size-2;
		padding: 20px 40px;
	}

	&.secondary {
		box-sizing: content-box;
		border: 2px solid $color-button;
		background-color: $color-white;
		color: $color-button;

		&:hover {
			background-color: $color-white;
			color: $color-button-hover;
		}

	}

	// .icon-size-s {
	// 	margin-top: -1px;
	// }

	&:hover,
	&:focus {
		background: $color-button-hover;
		border-color: $color-button-hover;
		color: $color-text-secondary;
		transition: background $transition-time-1 $easing-1, color $transition-time-1 $easing-1;
	}

}

.btn-transparent {
	@extend .btn;
	@include antialiasText('subpixelantialiased');
	background: none;
	color: $color-button;

	&:hover {
		background: $color-button;
		color: $color-text-secondary;
	}

}

.btn-green {
	@extend .btn;
	background: $color-success;
	border-color: $color-success;
	padding-left: $margin-button-V;

	&:hover {
		background: $color-success-hover;
		border-color: $color-success-hover;
		color: $color-text-secondary;
	}

}

.btn-grey {
	@extend .btn;
	background: $color-smooth-gray;
	border-color: $color-smooth-gray;
	color: $color-highlight;

	&:hover {
		background: $color-smooth-gray;
		border-color: $color-smooth-gray;
		color: $color-highlight !important;
	}

}

.btn-confirm {
	@extend .btn;
	background: $color-success;
	border-color: $color-success;

	&:hover {
		background: $color-success-hover;
		border-color: $color-success-hover;
		color: $color-text-secondary;
	}

}

.btn-decline {
	@extend .btn;
	background: none;
	border-color: $color-decline;
	color: $color-decline;

	&:hover {
		background: $color-decline;
		color: $color-text-secondary;
	}

}

.btn-download {
	color: $color-button;

	&:hover {
		color: $color-button;
	}

}

.btn-upload {
	display: inline-block;
	text-align: center;

	.upload-image {
		background: $color-text-secondary;
		border: 3px solid $color-block-border;
		border-radius: 5px;
		height: 100px;
		margin-bottom: $margin-item;
		transition: background $transition-time-1 $easing-1, border-color $transition-time-1 $easing-1, color $transition-time-1 $easing-1;
		width: 100px;

		.icon {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			margin: 0;
			padding: 0;
			font-size: $font-size-1;
			color: $color-button;
		}

	}

	&:hover {
		.upload-image {
			background: $color-button;
			border-color: $color-button;

			.icon {
				color: $color-white;
			}

		}

		p {
			&:after {
				opacity: 1;
				transition: opacity $transition-time-1 $easing-1;
			}

		}

	}

}