.btn {
	@include antialiasText();
	background: $color-purple-flashy;
	border: 2px solid $color-purple-flashy;
	border-radius: 5px;
	color: $color-white;
	font-size: $font-size-4;
	font-weight: $font-weight-bold;
	letter-spacing: 2px;
	line-height: 1.2;
	@include paddingH($margin-25);
	@include paddingV($margin-10);
	text-transform: uppercase;
	transition: background $transition-time-2 $easing-1, color $transition-time-2 $easing-1;

	&.big {
		font-size: $font-size-2;
		padding: 20px 40px;
	}

	&.secondary {
		box-sizing: content-box;
		border: 2px solid $color-purple-flashy;
		background-color: $color-white;
		color: $color-purple-flashy;

		&:hover {
			background-color: $color-white;
			color: $color-purple-flashy-highlight;
		}

	}

	&:hover,
	&:focus {
		background: $color-purple-flashy-highlight;
		border-color: $color-purple-flashy-highlight;
		color: $color-white;
		transition: background $transition-time-1 $easing-1, color $transition-time-1 $easing-1;
	}

}

.btn-transparent {
	@extend .btn;
	@include antialiasText('subpixelantialiased');
	background: none;
	color: $color-purple-flashy;

	&:hover {
		background: $color-purple-flashy;
		color: $color-white;
	}

}

.btn-green {
	@extend .btn;
	background: $color-green-grass;
	border-color: $color-green-grass;
	padding-left: $margin-10;

	&:hover {
		background: $color-green-grass-highlight;
		border-color: $color-green-grass-highlight;
		color: $color-white;
	}

}

.btn-grey {
	@extend .btn;
	background: $color-gray-smooth;
	border-color: $color-gray-smooth;
	color: $color-gray-clear;

	&:hover {
		background: $color-gray-smooth;
		border-color: $color-gray-smooth;
		color: $color-gray-clear !important;
	}

}

.btn-confirm {
	@extend .btn;
	background: $color-green-grass;
	border-color: $color-green-grass;

	&:hover {
		background: $color-green-grass-highlight;
		border-color: $color-green-grass-highlight;
		color: $color-white;
	}

}

.btn-decline {
	@extend .btn;
	background: none;
	border-color: $color-purple-flashy;
	color: $color-purple-flashy;

	&:hover {
		background: $color-purple-flashy;
		color: $color-white;
	}

}

.btn-download {
	color: $color-purple-flashy;

	&:hover {
		color: $color-purple-flashy;
	}

}

.btn-upload {
	display: inline-block;
	text-align: center;

	.upload-image {
		background: $color-white;
		border: 3px solid $color-gray-smooth;
		border-radius: 5px;
		height: 100px;
		margin-bottom: $margin-15 ;
		transition: background $transition-time-1 $easing-1, border-color $transition-time-1 $easing-1, color $transition-time-1 $easing-1;
		width: 100px;

		.icon {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			margin: 0;
			padding: 0;
			font-size: $font-size-1;
			color: $color-purple-flashy;
		}

	}

	&:hover {
		.upload-image {
			background: $color-purple-flashy;
			border-color: $color-purple-flashy;

			.icon {
				color: $color-white;
			}

		}

		p {
			&:after {
				opacity: 1;
				transition: opacity $transition-time-1 $easing-1;
			}

		}

	}

}