.category-selector {
	position: relative;
	cursor: pointer;

	.categories {
		position: absolute;
		width: 140px;
		margin-left: -70px;
		top: -$margin-40 - 35px;
		left: 50%;
		height: 70px;
		cursor: pointer;

		.box1 {
			background-color: lighten($color-purple-flashy, 50%);
			width: 100%;
			height: 60%;
			top: 20%;
			position: absolute;
			border-radius: 2px;
		}

		.box2 {
			background-color: lighten($color-purple-flashy, 35%);
			width: 80%;
			height: 80%;
			top: 10%;
			left: 10%;
			position: absolute;
			border-radius: 4px;
		}

		.box3 {
			background-color: $color-purple-flashy;
			color: $color-white;
			font-size: 36px;
			width: 50%;
			height: 100%;
			left: 25%;
			position: absolute;
			text-align: center;
			border-radius: 6px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);

			.icon {
				margin-top: 2px;
			}

		}

	}

	.list {
		position: absolute;
		left: 50%;
		width: 100%;
		margin-left: -50%;
		top: $margin-40;
		text-align: center;
		z-index: 10;
		display: none;
		cursor: default;

		ul {
			display: inline-block;
			margin: 0 auto;
			background-color: $color-white;
			padding: $margin-30 $margin-60 $margin-30 $margin-40;
			list-style-type: none;
			font-size: $font-size-2;
			border-radius: 5px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
			text-align: left;

			li {
				margin: 0 0 $margin-10;
				padding: 0;
				color: $color-gray-clear;
				text-transform: uppercase;
				transition: color $transition-time-2 $easing-1;

				&:hover {
					color: $color-purple-flashy;
					cursor: pointer;
					transition-duration: 0;
				}

			}

		}

	}

	p {
		padding-top: $margin-5;
		text-align: center;
		font-size: $font-size-2;
		color: $color-purple-flashy;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		letter-spacing: $letter-spacing-1;
		margin-bottom: 0;
	}

}