footer#footer {
	padding-top: $margin-60;
	@include antialiasText();

	ul {
		&.social-media {
			li {
				a {
					color: $color-gray-clear;
					transition: color $transition-time-2 $easing-1;

					i {
						font-size: $font-size-social-media;
					}

					&:after {
						display: none;
					}

					&:hover {
						color: $color-black-night;
						transition: color $transition-time-1 $easing-1;
					}

				}

			}

		}

	}

	ul {
		li {
			a {
				color: $color-black-night;
				position: relative;

				&:after {
					background: $color-black-night;
					bottom: -1px;
					content: "";
					display: inline-block;
					height: 1px;
					left: 0;
					position: absolute;
					width: 100%;
					transform: scaleX(0);
					transition: transform $transition-time-2 $easing-1;
				}

				&:hover {
					&:after {
						transition: transform $transition-time-1 $easing-1;
						transform: scaleX(1);
					}

				}

			}

		}

	}

	&.footer-public {
		background: $color-gray-soft;

		ul {
			li {
				a {
					color: $color-black-night;

					&:after {
						background: $color-black-night;
					}

				}

			}

			&.social-media {
				li {
					a {
						color: $color-gray-clear;

						&:hover {
							color: $color-black-night;
						}

					}

				}

			}

		}

		.brand {
			&:after {
				background: $color-transparent-black;
			}

		}

	}

	&.footer-dashboard-developer,
	&.footer-dashboard-user {
		background: $color-purple-pitch;

		ul {
			li {
				a {
					color: $color-purple-shading;

					&:after {
						background: $color-purple-shading;
					}

					&:hover {
						color: $color-white;
					}

				}

			}

		}

	}

	ul {
		li {
			margin-bottom: $margin-10;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	h2.header-small {
		margin-bottom: $margin-header-small;
	}

	.brand {
		@extend .border-bottom;
		margin-top: $margin-60;
		@include paddingV($margin-20);
		position: relative;
		text-align: center;

		&:after {
			top: 0;
		}

		.logo {
			height: 45px;
			opacity: 0.15;
			transition: opacity $transition-time-2 $easing-1;
		}

		a:hover {
			.logo {
				opacity: 1;
				transition: opacity $transition-time-1 $easing-1;
			}

		}

	}

}