footer#footer {
	padding-top: $margin-60;
	@include antialiasText();

	ul {
		&.social-media {
			float: left;

			li {
				float: left;
				margin: $margin-5;

				&:first-of-type {
					min-width: 100%;
				}

				a {
					color: $color-white;
					transition: color $transition-time-2 $easing-1;

					i {
						font-size: $font-size-large;
						border-radius: 50%;
						color: $color-white;
						padding: $margin-5;
					}

					&:after {
						display: none;
					}

					&:hover {
						color: $color-gray-soft;
						transition: color $transition-time-1 $easing-1;
					}

				}

			}

			& .icon-twitter {
				background-color: #63cdf1;
			}

			& .icon-facebook {
				background-color: #507cbe;
			}

			& .icon-linkedin {
				background-color: #90cadd;
			}

			& .icon-youtube {
				background-color: #f16261;
			}

			& .icon-instagram {
				background-color: #2E5E86;
			}
		}

	}

	ul {
		li {
			a {
				color: $color-black-night;
				position: relative;

				&:after {
					background: $color-black-night;
					bottom: -1px;
					content: "";
					display: inline-block;
					height: 1px;
					left: 0;
					position: absolute;
					width: 100%;
					transform: scaleX(0);
					transition: transform $transition-time-2 $easing-1;
				}

				&:hover {
					&:after {
						transition: transform $transition-time-1 $easing-1;
						transform: scaleX(1);
					}

				}

			}

		}

	}

	&.footer-public {
		background: $color-gray-soft;

		ul {
			li {
				a {
					color: $color-black-night;

					&:after {
						background: $color-black-night;
					}

				}

			}

			&.social-media {
				li {
					a {
						color: $color-gray-clear;

						&:hover {
							color: $color-black-night;
						}

					}

				}

			}

		}

		.eu {
			min-height: 100px;
		}

		.brand {
			&:after {
				background: $color-transparent-black;
			}

		}

	}

	&.footer-dashboard-developer,
	&.footer-dashboard-user {
		background: $color-purple-pitch;

		ul {
			li {
				a {
					color: $color-purple-shading;

					&:after {
						background: $color-purple-shading;
					}

					&:hover {
						color: $color-white;
					}

				}

			}

		}

	}

	ul {
		li {
			margin-bottom: $margin-10;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	h2.header-small {
		margin-bottom: $margin-10;
	}

	.brand, .credits {
		@extend .border-bottom;
		margin-top: $margin-60;
		padding-top: $margin-60;
		padding-bottom: 120px;
		position: relative;
		text-align: center;

		&:after {
			top: 0;
		}

		.logo {
			height: 45px;
			opacity: 0.15;
			transition: opacity $transition-time-2 $easing-1;
		}

		.eu-logo {
			height: 100%;
			width: 150px;
		}

		a:hover {
			.logo {
				opacity: 1;
				transition: opacity $transition-time-1 $easing-1;
			}

		}

	}

}