footer#footer {
	padding-top: $margin-60;
	@include antialiasText();

	ul {
		&.social-media {
			li {
				a {
					.fa {
						font-size: $font-size-social-media;
					}
				}
			}
		}
	}

	&.footer-public {
		background: $color-footer-public;

		ul {
			li {
				a {
					color: $color-text;
					position: relative;

					&:hover {
						&:after {
							background: $color-text;
							bottom: 0;
							content: "";
							display: inline-block;
							height: 1px;
							left: 0;
							position: absolute;
							width: 100%;
						}
					}
				}
			}

			&.social-media {
				li {
					a {
						.fa {
							color: $color-menu-items;
						}

						&:hover {
							&:after {
								display: none;
							}

							.fa {
								color: $color-pink;
							}
						}
					}
				}
			}
		}

		.brand {
			.logo {
				opacity: 0.15;
			}

			&:after {
				background: $color-light-grey;
			}
		}
	}

	&.footer-dashboard-developer, &.footer-dashboard-user {
		background: $color-footer-dev-dashboard;

		ul {
			li {
				a {
					color: $color-menu-items;

					&:hover {
						color: $color-text-secondary;
					}
				}
			}
		}

		.brand {
			.logo {
				opacity: 0.15;
			}
		}
	}

	ul {
		li {
			margin-bottom: $margin-10;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	h2.header-small {
		margin-bottom: $margin-header-small;
	}

	.brand {
		@extend .border-bottom;
		margin-top: $margin-60;
		@include paddingV($margin-20);
		position: relative;
		text-align: center;

		&:after {
			top: 0;
		}

		.logo {
			height: 45px;
		}
	}
}