$sprite-sheet-background-width: 425px;
$sprite-sheet-background-height: 400px;
$sprite-sheet-icon-size: 25px;
$sprite-sheet-icon-size-s: 20px;
$sprite-sheet-icon-size-m: 40px;
$sprite-sheet-icon-size-xl: 80px;

%svg-common {
	background: url(../img/icons.svg) no-repeat;
	display: inline-block;
	width: $sprite-sheet-icon-size;
	height: $sprite-sheet-icon-size;
	vertical-align: bottom;
	background-size: $sprite-sheet-background-width $sprite-sheet-background-height;
}

.icon-size-s {
	background-size: ($sprite-sheet-background-width * $sprite-sheet-icon-size-s / $sprite-sheet-icon-size) ($sprite-sheet-background-height * $sprite-sheet-icon-size-s / $sprite-sheet-icon-size);
	width: $sprite-sheet-icon-size-s;
	height: $sprite-sheet-icon-size-s;
	vertical-align: middle;
	// display: inline-block;
}

.icon-size-m {
	background-size: ($sprite-sheet-background-width * $sprite-sheet-icon-size-m / $sprite-sheet-icon-size) ($sprite-sheet-background-height * $sprite-sheet-icon-size-m / $sprite-sheet-icon-size);
	width: $sprite-sheet-icon-size-m;
	height: $sprite-sheet-icon-size-m;
	vertical-align: middle;
	// display: inline-block;
}

.icon-size-xl {
	background-size: ($sprite-sheet-background-width * $sprite-sheet-icon-size-xl / $sprite-sheet-icon-size) ($sprite-sheet-background-height * $sprite-sheet-icon-size-xl / $sprite-sheet-icon-size);
	width: $sprite-sheet-icon-size-xl;
	height: $sprite-sheet-icon-size-xl;
	// vertical-align: middle;
	// display: inline-block;
}

.icon-arrowdown {
	@extend .icon-arrowright;
	transform: rotate(90deg);
}

.icon-menu-arrowdown {
	@extend .icon-menu-arrowright;
	transform: rotate(90deg);
}

.icon-sidepanel-arrowdown {
	@extend .icon-sidepanel-arrowright;
	transform: rotate(90deg);
}




// ICONS



.icon-activity {
	@extend %svg-common;
	background-position: 6.25% 0;
}

.icon-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-add {
	@extend %svg-common;
	background-position: 68.75% 46.666666666666664%;
}

.icon-add-dims {
	width: 25px;
	height: 25px;
}

.icon-addmember {
	@extend %svg-common;
	background-position: 0 6.666666666666667%;
}

.icon-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-allprojects {
	@extend %svg-common;
	background-position: 6.25% 6.666666666666667%;
}

.icon-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-approved {
	@extend %svg-common;
	background-position: 12.5% 0;
}

.icon-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-arrowright {
	@extend %svg-common;
	background-position: 12.5% 6.666666666666667%;
}

.icon-arrowright-dims {
	width: 25px;
	height: 25px;
}

.icon-art {
	@extend %svg-common;
	background-position: 0 13.333333333333334%;
}

.icon-art-dims {
	width: 25px;
	height: 25px;
}

.icon-blog {
	@extend %svg-common;
	background-position: 6.25% 13.333333333333334%;
}

.icon-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-campaign {
	@extend %svg-common;
	background-position: 12.5% 13.333333333333334%;
}

.icon-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-campaigncompleted {
	@extend %svg-common;
	background-position: 18.75% 0;
}

.icon-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-city {
	@extend %svg-common;
	background-position: 18.75% 6.666666666666667%;
}

.icon-city-dims {
	width: 25px;
	height: 25px;
}

.icon-close {
	@extend %svg-common;
	background-position: 18.75% 13.333333333333334%;
}

.icon-close-dims {
	width: 25px;
	height: 25px;
}

.icon-close2 {
	@extend %svg-common;
	background-position: 0 20%;
}

.icon-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-closedelete {
	@extend %svg-common;
	background-position: 6.25% 20%;
}

.icon-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-color-add {
	@extend %svg-common;
	background-position: 12.5% 20%;
}

.icon-color-add-dims {
	width: 25px;
	height: 25px;
}

.icon-color-approve {
	@extend %svg-common;
	background-position: 18.75% 20%;
}

.icon-color-approve-dims {
	width: 25px;
	height: 25px;
}

.icon-color-approved {
	@extend %svg-common;
	background-position: 25% 0;
}

.icon-color-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-color-editing {
	@extend %svg-common;
	background-position: 25% 6.666666666666667%;
}

.icon-color-editing-dims {
	width: 25px;
	height: 25px;
}

.icon-color-liked {
	@extend %svg-common;
	background-position: 25% 13.333333333333334%;
}

.icon-color-liked-dims {
	width: 25px;
	height: 25px;
}

.icon-customeridea {
	@extend %svg-common;
	background-position: 25% 20%;
}

.icon-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-dashboard {
	@extend %svg-common;
	background-position: 0 26.666666666666668%;
}

.icon-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-design {
	@extend %svg-common;
	background-position: 6.25% 26.666666666666668%;
}

.icon-design-dims {
	width: 25px;
	height: 25px;
}

.icon-developer {
	@extend %svg-common;
	background-position: 12.5% 26.666666666666668%;
}

.icon-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-document {
	@extend %svg-common;
	background-position: 18.75% 26.666666666666668%;
}

.icon-document-dims {
	width: 25px;
	height: 25px;
}

.icon-download {
	@extend %svg-common;
	background-position: 25% 26.666666666666668%;
}

.icon-download-dims {
	width: 25px;
	height: 25px;
}

.icon-download2 {
	@extend %svg-common;
	background-position: 31.25% 0;
}

.icon-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-edit {
	@extend %svg-common;
	background-position: 31.25% 6.666666666666667%;
}

.icon-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-facebook {
	@extend %svg-common;
	background-position: 31.25% 13.333333333333334%;
}

.icon-facebook-dims {
	width: 25px;
	height: 25px;
}

.icon-film {
	@extend %svg-common;
	background-position: 31.25% 20%;
}

.icon-film-dims {
	width: 25px;
	height: 25px;
}

.icon-folder {
	@extend %svg-common;
	background-position: 31.25% 26.666666666666668%;
}

.icon-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-follower {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.icon-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-food {
	@extend %svg-common;
	background-position: 6.25% 33.333333333333336%;
}

.icon-food-dims {
	width: 25px;
	height: 25px;
}

.icon-games {
	@extend %svg-common;
	background-position: 12.5% 33.333333333333336%;
}

.icon-games-dims {
	width: 25px;
	height: 25px;
}

.icon-gender {
	@extend %svg-common;
	background-position: 18.75% 33.333333333333336%;
}

.icon-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-invite {
	@extend %svg-common;
	background-position: 25% 33.333333333333336%;
}

.icon-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-journalism {
	@extend %svg-common;
	background-position: 31.25% 33.333333333333336%;
}

.icon-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-like {
	@extend %svg-common;
	background-position: 37.5% 0;
}

.icon-like-dims {
	width: 25px;
	height: 25px;
}

.icon-location {
	@extend %svg-common;
	background-position: 37.5% 6.666666666666667%;
}

.icon-location-dims {
	width: 25px;
	height: 25px;
}

.icon-locked {
	@extend %svg-common;
	background-position: 37.5% 13.333333333333334%;
}

.icon-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-mail {
	@extend %svg-common;
	background-position: 37.5% 20%;
}

.icon-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-mainauthor {
	@extend %svg-common;
	background-position: 37.5% 26.666666666666668%;
}

.icon-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-menu {
	@extend %svg-common;
	background-position: 37.5% 33.333333333333336%;
}

.icon-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-activity {
	@extend %svg-common;
	background-position: 0 40%;
}

.icon-menu-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-add {
	@extend %svg-common;
	background-position: 6.25% 40%;
}

.icon-menu-add-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-addmember {
	@extend %svg-common;
	background-position: 12.5% 40%;
}

.icon-menu-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-allprojects {
	@extend %svg-common;
	background-position: 18.75% 40%;
}

.icon-menu-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-approved {
	@extend %svg-common;
	background-position: 25% 40%;
}

.icon-menu-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-arrowright {
	@extend %svg-common;
	background-position: 31.25% 40%;
}

.icon-menu-arrowright-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-art {
	@extend %svg-common;
	background-position: 37.5% 40%;
}

.icon-menu-art-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-blog {
	@extend %svg-common;
	background-position: 43.75% 0;
}

.icon-menu-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-campaign {
	@extend %svg-common;
	background-position: 43.75% 6.666666666666667%;
}

.icon-menu-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-campaigncompleted {
	@extend %svg-common;
	background-position: 43.75% 13.333333333333334%;
}

.icon-menu-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-city {
	@extend %svg-common;
	background-position: 43.75% 20%;
}

.icon-menu-city-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-close {
	@extend %svg-common;
	background-position: 43.75% 26.666666666666668%;
}

.icon-menu-close-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-close2 {
	@extend %svg-common;
	background-position: 43.75% 33.333333333333336%;
}

.icon-menu-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-closedelete {
	@extend %svg-common;
	background-position: 43.75% 40%;
}

.icon-menu-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-customeridea {
	@extend %svg-common;
	background-position: 0 46.666666666666664%;
}

.icon-menu-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-dashboard {
	@extend %svg-common;
	background-position: 6.25% 46.666666666666664%;
}

.icon-menu-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-design {
	@extend %svg-common;
	background-position: 12.5% 46.666666666666664%;
}

.icon-menu-design-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-developer {
	@extend %svg-common;
	background-position: 18.75% 46.666666666666664%;
}

.icon-menu-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-document {
	@extend %svg-common;
	background-position: 25% 46.666666666666664%;
}

.icon-menu-document-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-download {
	@extend %svg-common;
	background-position: 31.25% 46.666666666666664%;
}

.icon-menu-download-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-download2 {
	@extend %svg-common;
	background-position: 37.5% 46.666666666666664%;
}

.icon-menu-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-edit {
	@extend %svg-common;
	background-position: 43.75% 46.666666666666664%;
}

.icon-menu-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-facebook {
	@extend %svg-common;
	background-position: 50% 0;
}

.icon-menu-facebook-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-film {
	@extend %svg-common;
	background-position: 50% 6.666666666666667%;
}

.icon-menu-film-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-folder {
	@extend %svg-common;
	background-position: 50% 13.333333333333334%;
}

.icon-menu-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-follower {
	@extend %svg-common;
	background-position: 50% 20%;
}

.icon-menu-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-food {
	@extend %svg-common;
	background-position: 50% 26.666666666666668%;
}

.icon-menu-food-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-games {
	@extend %svg-common;
	background-position: 50% 33.333333333333336%;
}

.icon-menu-games-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-gender {
	@extend %svg-common;
	background-position: 50% 40%;
}

.icon-menu-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-invite {
	@extend %svg-common;
	background-position: 50% 46.666666666666664%;
}

.icon-menu-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-journalism {
	@extend %svg-common;
	background-position: 0 53.333333333333336%;
}

.icon-menu-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-like {
	@extend %svg-common;
	background-position: 6.25% 53.333333333333336%;
}

.icon-menu-like-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-location {
	@extend %svg-common;
	background-position: 12.5% 53.333333333333336%;
}

.icon-menu-location-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-locked {
	@extend %svg-common;
	background-position: 18.75% 53.333333333333336%;
}

.icon-menu-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-mail {
	@extend %svg-common;
	background-position: 25% 53.333333333333336%;
}

.icon-menu-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-mainauthor {
	@extend %svg-common;
	background-position: 31.25% 53.333333333333336%;
}

.icon-menu-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-menu {
	@extend %svg-common;
	background-position: 37.5% 53.333333333333336%;
}

.icon-menu-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-message {
	@extend %svg-common;
	background-position: 43.75% 53.333333333333336%;
}

.icon-menu-message-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-moreoptions {
	@extend %svg-common;
	background-position: 50% 53.333333333333336%;
}

.icon-menu-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-music {
	@extend %svg-common;
	background-position: 56.25% 0;
}

.icon-menu-music-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-notification {
	@extend %svg-common;
	background-position: 56.25% 6.666666666666667%;
}

.icon-menu-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-object {
	@extend %svg-common;
	background-position: 56.25% 13.333333333333334%;
}

.icon-menu-object-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-overview {
	@extend %svg-common;
	background-position: 56.25% 20%;
}

.icon-menu-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-photography {
	@extend %svg-common;
	background-position: 56.25% 26.666666666666668%;
}

.icon-menu-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-profile {
	@extend %svg-common;
	background-position: 56.25% 33.333333333333336%;
}

.icon-menu-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-project {
	@extend %svg-common;
	background-position: 56.25% 40%;
}

.icon-menu-project-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-publishing {
	@extend %svg-common;
	background-position: 56.25% 46.666666666666664%;
}

.icon-menu-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-reply {
	@extend %svg-common;
	background-position: 56.25% 53.333333333333336%;
}

.icon-menu-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-reward {
	@extend %svg-common;
	background-position: 0 60%;
}

.icon-menu-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-search {
	@extend %svg-common;
	background-position: 6.25% 60%;
}

.icon-menu-search-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-seen {
	@extend %svg-common;
	background-position: 12.5% 60%;
}

.icon-menu-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-send {
	@extend %svg-common;
	background-position: 18.75% 60%;
}

.icon-menu-send-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-settings {
	@extend %svg-common;
	background-position: 25% 60%;
}

.icon-menu-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-signout {
	@extend %svg-common;
	background-position: 31.25% 60%;
}

.icon-menu-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-sport {
	@extend %svg-common;
	background-position: 37.5% 60%;
}

.icon-menu-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-start {
	@extend %svg-common;
	background-position: 43.75% 60%;
}

.icon-menu-start-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-team {
	@extend %svg-common;
	background-position: 50% 60%;
}

.icon-menu-team-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-technology {
	@extend %svg-common;
	background-position: 56.25% 60%;
}

.icon-menu-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-time {
	@extend %svg-common;
	background-position: 62.5% 0;
}

.icon-menu-time-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-twitter {
	@extend %svg-common;
	background-position: 62.5% 6.666666666666667%;
}

.icon-menu-twitter-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-upload {
	@extend %svg-common;
	background-position: 62.5% 13.333333333333334%;
}

.icon-menu-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-user {
	@extend %svg-common;
	background-position: 62.5% 20%;
}

.icon-menu-user-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-work {
	@extend %svg-common;
	background-position: 62.5% 26.666666666666668%;
}

.icon-menu-work-dims {
	width: 25px;
	height: 25px;
}

.icon-message {
	@extend %svg-common;
	background-position: 62.5% 33.333333333333336%;
}

.icon-message-dims {
	width: 25px;
	height: 25px;
}

.icon-moreoptions {
	@extend %svg-common;
	background-position: 62.5% 40%;
}

.icon-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-music {
	@extend %svg-common;
	background-position: 62.5% 46.666666666666664%;
}

.icon-music-dims {
	width: 25px;
	height: 25px;
}

.icon-notification {
	@extend %svg-common;
	background-position: 62.5% 53.333333333333336%;
}

.icon-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-object {
	@extend %svg-common;
	background-position: 62.5% 60%;
}

.icon-object-dims {
	width: 25px;
	height: 25px;
}

.icon-overview {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.icon-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-photography {
	@extend %svg-common;
	background-position: 6.25% 66.66666666666667%;
}

.icon-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-profile {
	@extend %svg-common;
	background-position: 12.5% 66.66666666666667%;
}

.icon-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-project {
	@extend %svg-common;
	background-position: 18.75% 66.66666666666667%;
}

.icon-project-dims {
	width: 25px;
	height: 25px;
}

.icon-publishing {
	@extend %svg-common;
	background-position: 25% 66.66666666666667%;
}

.icon-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-reply {
	@extend %svg-common;
	background-position: 31.25% 66.66666666666667%;
}

.icon-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-reward {
	@extend %svg-common;
	background-position: 37.5% 66.66666666666667%;
}

.icon-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-search {
	@extend %svg-common;
	background-position: 43.75% 66.66666666666667%;
}

.icon-search-dims {
	width: 25px;
	height: 25px;
}

.icon-seen {
	@extend %svg-common;
	background-position: 50% 66.66666666666667%;
}

.icon-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-send {
	@extend %svg-common;
	background-position: 56.25% 66.66666666666667%;
}

.icon-send-dims {
	width: 25px;
	height: 25px;
}

.icon-settings {
	@extend %svg-common;
	background-position: 62.5% 66.66666666666667%;
}

.icon-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-activity {
	@extend %svg-common;
	background-position: 68.75% 0;
}

.icon-sidepanel-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-add {
	@extend %svg-common;
	background-position: 68.75% 6.666666666666667%;
}

.icon-sidepanel-add-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-addmember {
	@extend %svg-common;
	background-position: 68.75% 13.333333333333334%;
}

.icon-sidepanel-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-allprojects {
	@extend %svg-common;
	background-position: 68.75% 20%;
}

.icon-sidepanel-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-approved {
	@extend %svg-common;
	background-position: 68.75% 26.666666666666668%;
}

.icon-sidepanel-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-arrowright {
	@extend %svg-common;
	background-position: 68.75% 33.333333333333336%;
}

.icon-sidepanel-arrowright-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-art {
	@extend %svg-common;
	background-position: 68.75% 40%;
}

.icon-sidepanel-art-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-blog {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-sidepanel-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-campaign {
	@extend %svg-common;
	background-position: 68.75% 53.333333333333336%;
}

.icon-sidepanel-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-campaigncompleted {
	@extend %svg-common;
	background-position: 68.75% 60%;
}

.icon-sidepanel-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-city {
	@extend %svg-common;
	background-position: 68.75% 66.66666666666667%;
}

.icon-sidepanel-city-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-close {
	@extend %svg-common;
	background-position: 0 73.33333333333333%;
}

.icon-sidepanel-close-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-close2 {
	@extend %svg-common;
	background-position: 6.25% 73.33333333333333%;
}

.icon-sidepanel-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-closedelete {
	@extend %svg-common;
	background-position: 12.5% 73.33333333333333%;
}

.icon-sidepanel-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-customeridea {
	@extend %svg-common;
	background-position: 18.75% 73.33333333333333%;
}

.icon-sidepanel-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-dashboard {
	@extend %svg-common;
	background-position: 25% 73.33333333333333%;
}

.icon-sidepanel-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-design {
	@extend %svg-common;
	background-position: 31.25% 73.33333333333333%;
}

.icon-sidepanel-design-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-developer {
	@extend %svg-common;
	background-position: 37.5% 73.33333333333333%;
}

.icon-sidepanel-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-document {
	@extend %svg-common;
	background-position: 43.75% 73.33333333333333%;
}

.icon-sidepanel-document-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-download {
	@extend %svg-common;
	background-position: 50% 73.33333333333333%;
}

.icon-sidepanel-download-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-download2 {
	@extend %svg-common;
	background-position: 56.25% 73.33333333333333%;
}

.icon-sidepanel-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-edit {
	@extend %svg-common;
	background-position: 62.5% 73.33333333333333%;
}

.icon-sidepanel-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-facebook {
	@extend %svg-common;
	background-position: 68.75% 73.33333333333333%;
}

.icon-sidepanel-facebook-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-film {
	@extend %svg-common;
	background-position: 75% 0;
}

.icon-sidepanel-film-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-folder {
	@extend %svg-common;
	background-position: 75% 6.666666666666667%;
}

.icon-sidepanel-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-follower {
	@extend %svg-common;
	background-position: 75% 13.333333333333334%;
}

.icon-sidepanel-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-food {
	@extend %svg-common;
	background-position: 75% 20%;
}

.icon-sidepanel-food-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-games {
	@extend %svg-common;
	background-position: 75% 26.666666666666668%;
}

.icon-sidepanel-games-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-gender {
	@extend %svg-common;
	background-position: 75% 33.333333333333336%;
}

.icon-sidepanel-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-invite {
	@extend %svg-common;
	background-position: 75% 40%;
}

.icon-sidepanel-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-journalism {
	@extend %svg-common;
	background-position: 75% 46.666666666666664%;
}

.icon-sidepanel-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-like {
	@extend %svg-common;
	background-position: 75% 53.333333333333336%;
}

.icon-sidepanel-like-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-location {
	@extend %svg-common;
	background-position: 75% 60%;
}

.icon-sidepanel-location-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-locked {
	@extend %svg-common;
	background-position: 75% 66.66666666666667%;
}

.icon-sidepanel-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-mail {
	@extend %svg-common;
	background-position: 75% 73.33333333333333%;
}

.icon-sidepanel-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-mainauthor {
	@extend %svg-common;
	background-position: 0 80%;
}

.icon-sidepanel-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-menu {
	@extend %svg-common;
	background-position: 6.25% 80%;
}

.icon-sidepanel-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-message {
	@extend %svg-common;
	background-position: 12.5% 80%;
}

.icon-sidepanel-message-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-moreoptions {
	@extend %svg-common;
	background-position: 18.75% 80%;
}

.icon-sidepanel-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-music {
	@extend %svg-common;
	background-position: 25% 80%;
}

.icon-sidepanel-music-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-notification {
	@extend %svg-common;
	background-position: 31.25% 80%;
}

.icon-sidepanel-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-object {
	@extend %svg-common;
	background-position: 37.5% 80%;
}

.icon-sidepanel-object-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-overview {
	@extend %svg-common;
	background-position: 43.75% 80%;
}

.icon-sidepanel-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-photography {
	@extend %svg-common;
	background-position: 50% 80%;
}

.icon-sidepanel-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-profile {
	@extend %svg-common;
	background-position: 56.25% 80%;
}

.icon-sidepanel-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-project {
	@extend %svg-common;
	background-position: 62.5% 80%;
}

.icon-sidepanel-project-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-publishing {
	@extend %svg-common;
	background-position: 68.75% 80%;
}

.icon-sidepanel-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-reply {
	@extend %svg-common;
	background-position: 75% 80%;
}

.icon-sidepanel-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-reward {
	@extend %svg-common;
	background-position: 81.25% 0;
}

.icon-sidepanel-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-search {
	@extend %svg-common;
	background-position: 81.25% 6.666666666666667%;
}

.icon-sidepanel-search-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-seen {
	@extend %svg-common;
	background-position: 81.25% 13.333333333333334%;
}

.icon-sidepanel-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-send {
	@extend %svg-common;
	background-position: 81.25% 20%;
}

.icon-sidepanel-send-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-settings {
	@extend %svg-common;
	background-position: 81.25% 26.666666666666668%;
}

.icon-sidepanel-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-signout {
	@extend %svg-common;
	background-position: 81.25% 33.333333333333336%;
}

.icon-sidepanel-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-sport {
	@extend %svg-common;
	background-position: 81.25% 40%;
}

.icon-sidepanel-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-start {
	@extend %svg-common;
	background-position: 81.25% 46.666666666666664%;
}

.icon-sidepanel-start-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-team {
	@extend %svg-common;
	background-position: 81.25% 53.333333333333336%;
}

.icon-sidepanel-team-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-technology {
	@extend %svg-common;
	background-position: 81.25% 60%;
}

.icon-sidepanel-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-time {
	@extend %svg-common;
	background-position: 81.25% 66.66666666666667%;
}

.icon-sidepanel-time-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-twitter {
	@extend %svg-common;
	background-position: 81.25% 73.33333333333333%;
}

.icon-sidepanel-twitter-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-upload {
	@extend %svg-common;
	background-position: 81.25% 80%;
}

.icon-sidepanel-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-user {
	@extend %svg-common;
	background-position: 0 86.66666666666667%;
}

.icon-sidepanel-user-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-work {
	@extend %svg-common;
	background-position: 6.25% 86.66666666666667%;
}

.icon-sidepanel-work-dims {
	width: 25px;
	height: 25px;
}

.icon-signout {
	@extend %svg-common;
	background-position: 12.5% 86.66666666666667%;
}

.icon-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-sport {
	@extend %svg-common;
	background-position: 18.75% 86.66666666666667%;
}

.icon-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-start {
	@extend %svg-common;
	background-position: 25% 86.66666666666667%;
}

.icon-start-dims {
	width: 25px;
	height: 25px;
}

.icon-team {
	@extend %svg-common;
	background-position: 31.25% 86.66666666666667%;
}

.icon-team-dims {
	width: 25px;
	height: 25px;
}

.icon-technology {
	@extend %svg-common;
	background-position: 37.5% 86.66666666666667%;
}

.icon-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-time {
	@extend %svg-common;
	background-position: 43.75% 86.66666666666667%;
}

.icon-time-dims {
	width: 25px;
	height: 25px;
}

.icon-twitter {
	@extend %svg-common;
	background-position: 50% 86.66666666666667%;
}

.icon-twitter-dims {
	width: 25px;
	height: 25px;
}

.icon-upload {
	@extend %svg-common;
	background-position: 56.25% 86.66666666666667%;
}

.icon-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-user {
	@extend %svg-common;
	background-position: 62.5% 86.66666666666667%;
}

.icon-user-dims {
	width: 25px;
	height: 25px;
}

.icon-white-activity {
	@extend %svg-common;
	background-position: 68.75% 86.66666666666667%;
}

.icon-white-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-white-add {
	@extend %svg-common;
	background-position: 75% 86.66666666666667%;
}

.icon-white-add-dims {
	width: 25px;
	height: 25px;
}

.icon-white-addmember {
	@extend %svg-common;
	background-position: 81.25% 86.66666666666667%;
}

.icon-white-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-white-allprojects {
	@extend %svg-common;
	background-position: 87.5% 0;
}

.icon-white-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-white-approved {
	@extend %svg-common;
	background-position: 87.5% 6.666666666666667%;
}

.icon-white-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-white-arrowright {
	@extend %svg-common;
	background-position: 87.5% 13.333333333333334%;
}

.icon-white-arrowright-dims {
	width: 25px;
	height: 25px;
}

.icon-white-art {
	@extend %svg-common;
	background-position: 87.5% 20%;
}

.icon-white-art-dims {
	width: 25px;
	height: 25px;
}

.icon-white-blog {
	@extend %svg-common;
	background-position: 87.5% 26.666666666666668%;
}

.icon-white-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-white-campaign {
	@extend %svg-common;
	background-position: 87.5% 33.333333333333336%;
}

.icon-white-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-white-campaigncompleted {
	@extend %svg-common;
	background-position: 87.5% 40%;
}

.icon-white-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-white-city {
	@extend %svg-common;
	background-position: 87.5% 46.666666666666664%;
}

.icon-white-city-dims {
	width: 25px;
	height: 25px;
}

.icon-white-close {
	@extend %svg-common;
	background-position: 87.5% 53.333333333333336%;
}

.icon-white-close-dims {
	width: 25px;
	height: 25px;
}

.icon-white-close2 {
	@extend %svg-common;
	background-position: 87.5% 60%;
}

.icon-white-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-white-closedelete {
	@extend %svg-common;
	background-position: 87.5% 66.66666666666667%;
}

.icon-white-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-white-customeridea {
	@extend %svg-common;
	background-position: 87.5% 73.33333333333333%;
}

.icon-white-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-white-dashboard {
	@extend %svg-common;
	background-position: 87.5% 80%;
}

.icon-white-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-white-design {
	@extend %svg-common;
	background-position: 87.5% 86.66666666666667%;
}

.icon-white-design-dims {
	width: 25px;
	height: 25px;
}

.icon-white-developer {
	@extend %svg-common;
	background-position: 0 93.33333333333333%;
}

.icon-white-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-white-document {
	@extend %svg-common;
	background-position: 6.25% 93.33333333333333%;
}

.icon-white-document-dims {
	width: 25px;
	height: 25px;
}

.icon-white-download {
	@extend %svg-common;
	background-position: 12.5% 93.33333333333333%;
}

.icon-white-download-dims {
	width: 25px;
	height: 25px;
}

.icon-white-download2 {
	@extend %svg-common;
	background-position: 18.75% 93.33333333333333%;
}

.icon-white-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-white-edit {
	@extend %svg-common;
	background-position: 25% 93.33333333333333%;
}

.icon-white-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-white-facebook {
	@extend %svg-common;
	background-position: 31.25% 93.33333333333333%;
}

.icon-white-facebook-dims {
	width: 25px;
	height: 25px;
}

.icon-white-film {
	@extend %svg-common;
	background-position: 37.5% 93.33333333333333%;
}

.icon-white-film-dims {
	width: 25px;
	height: 25px;
}

.icon-white-folder {
	@extend %svg-common;
	background-position: 43.75% 93.33333333333333%;
}

.icon-white-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-white-follower {
	@extend %svg-common;
	background-position: 50% 93.33333333333333%;
}

.icon-white-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-white-food {
	@extend %svg-common;
	background-position: 56.25% 93.33333333333333%;
}

.icon-white-food-dims {
	width: 25px;
	height: 25px;
}

.icon-white-games {
	@extend %svg-common;
	background-position: 62.5% 93.33333333333333%;
}

.icon-white-games-dims {
	width: 25px;
	height: 25px;
}

.icon-white-gender {
	@extend %svg-common;
	background-position: 68.75% 93.33333333333333%;
}

.icon-white-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-white-invite {
	@extend %svg-common;
	background-position: 75% 93.33333333333333%;
}

.icon-white-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-white-journalism {
	@extend %svg-common;
	background-position: 81.25% 93.33333333333333%;
}

.icon-white-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-white-like {
	@extend %svg-common;
	background-position: 87.5% 93.33333333333333%;
}

.icon-white-like-dims {
	width: 25px;
	height: 25px;
}

.icon-white-location {
	@extend %svg-common;
	background-position: 93.75% 0;
}

.icon-white-location-dims {
	width: 25px;
	height: 25px;
}

.icon-white-locked {
	@extend %svg-common;
	background-position: 93.75% 6.666666666666667%;
}

.icon-white-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-white-mail {
	@extend %svg-common;
	background-position: 93.75% 13.333333333333334%;
}

.icon-white-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-white-mainauthor {
	@extend %svg-common;
	background-position: 93.75% 20%;
}

.icon-white-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-white-menu {
	@extend %svg-common;
	background-position: 93.75% 26.666666666666668%;
}

.icon-white-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-white-message {
	@extend %svg-common;
	background-position: 93.75% 33.333333333333336%;
}

.icon-white-message-dims {
	width: 25px;
	height: 25px;
}

.icon-white-moreoptions {
	@extend %svg-common;
	background-position: 93.75% 40%;
}

.icon-white-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-white-music {
	@extend %svg-common;
	background-position: 93.75% 46.666666666666664%;
}

.icon-white-music-dims {
	width: 25px;
	height: 25px;
}

.icon-white-notification {
	@extend %svg-common;
	background-position: 93.75% 53.333333333333336%;
}

.icon-white-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-white-object {
	@extend %svg-common;
	background-position: 93.75% 60%;
}

.icon-white-object-dims {
	width: 25px;
	height: 25px;
}

.icon-white-overview {
	@extend %svg-common;
	background-position: 93.75% 66.66666666666667%;
}

.icon-white-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-white-photography {
	@extend %svg-common;
	background-position: 93.75% 73.33333333333333%;
}

.icon-white-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-white-profile {
	@extend %svg-common;
	background-position: 93.75% 80%;
}

.icon-white-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-white-project {
	@extend %svg-common;
	background-position: 93.75% 86.66666666666667%;
}

.icon-white-project-dims {
	width: 25px;
	height: 25px;
}

.icon-white-publishing {
	@extend %svg-common;
	background-position: 93.75% 93.33333333333333%;
}

.icon-white-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-white-reply {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-white-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-white-reward {
	@extend %svg-common;
	background-position: 6.25% 100%;
}

.icon-white-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-white-search {
	@extend %svg-common;
	background-position: 12.5% 100%;
}

.icon-white-search-dims {
	width: 25px;
	height: 25px;
}

.icon-white-seen {
	@extend %svg-common;
	background-position: 18.75% 100%;
}

.icon-white-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-white-send {
	@extend %svg-common;
	background-position: 25% 100%;
}

.icon-white-send-dims {
	width: 25px;
	height: 25px;
}

.icon-white-settings {
	@extend %svg-common;
	background-position: 31.25% 100%;
}

.icon-white-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-white-signout {
	@extend %svg-common;
	background-position: 37.5% 100%;
}

.icon-white-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-white-sport {
	@extend %svg-common;
	background-position: 43.75% 100%;
}

.icon-white-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-white-start {
	@extend %svg-common;
	background-position: 50% 100%;
}

.icon-white-start-dims {
	width: 25px;
	height: 25px;
}

.icon-white-team {
	@extend %svg-common;
	background-position: 56.25% 100%;
}

.icon-white-team-dims {
	width: 25px;
	height: 25px;
}

.icon-white-technology {
	@extend %svg-common;
	background-position: 62.5% 100%;
}

.icon-white-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-white-time {
	@extend %svg-common;
	background-position: 68.75% 100%;
}

.icon-white-time-dims {
	width: 25px;
	height: 25px;
}

.icon-white-twitter {
	@extend %svg-common;
	background-position: 75% 100%;
}

.icon-white-twitter-dims {
	width: 25px;
	height: 25px;
}

.icon-white-upload {
	@extend %svg-common;
	background-position: 81.25% 100%;
}

.icon-white-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-white-user {
	@extend %svg-common;
	background-position: 87.5% 100%;
}

.icon-white-user-dims {
	width: 25px;
	height: 25px;
}

.icon-white-work {
	@extend %svg-common;
	background-position: 93.75% 100%;
}

.icon-white-work-dims {
	width: 25px;
	height: 25px;
}

.icon-work {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-work-dims {
	width: 25px;
	height: 25px;
}
