$sprite-sheet-background-width: 400px;
$sprite-sheet-background-height: 400px;
$sprite-sheet-icon-size: 25px;
$sprite-sheet-icon-size-m: 30px;
$sprite-sheet-icon-size-xl: 60px;

%svg-common {
	background: url(../img/icons.svg) no-repeat;
	display: inline-block;
	width: $sprite-sheet-icon-size;
	height: $sprite-sheet-icon-size;
	vertical-align: bottom;
	background-size: $sprite-sheet-background-width $sprite-sheet-background-height;
}

.icon-size-m {
	background-size: ($sprite-sheet-background-width * $sprite-sheet-icon-size-m / $sprite-sheet-icon-size) ($sprite-sheet-background-height * $sprite-sheet-icon-size-m / $sprite-sheet-icon-size);
	width: $sprite-sheet-icon-size-m;
	height: $sprite-sheet-icon-size-m;
	vertical-align: middle;
}

.icon-size-xl {
	background-size: ($sprite-sheet-background-width * $sprite-sheet-icon-size-xl / $sprite-sheet-icon-size) ($sprite-sheet-background-height * $sprite-sheet-icon-size-xl / $sprite-sheet-icon-size);
	width: $sprite-sheet-icon-size-xl;
	height: $sprite-sheet-icon-size-xl;
	vertical-align: middle;
}




// ICONS



.icon-activity {
	@extend %svg-common;
	background-position: 6.666666666666667% 0;
}

.icon-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-add {
	@extend %svg-common;
	background-position: 73.33333333333333% 6.666666666666667%;
}

.icon-add-dims {
	width: 25px;
	height: 25px;
}

.icon-addmember {
	@extend %svg-common;
	background-position: 0 6.666666666666667%;
}

.icon-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-allprojects {
	@extend %svg-common;
	background-position: 6.666666666666667% 6.666666666666667%;
}

.icon-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-approved {
	@extend %svg-common;
	background-position: 13.333333333333334% 0;
}

.icon-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-art {
	@extend %svg-common;
	background-position: 13.333333333333334% 6.666666666666667%;
}

.icon-art-dims {
	width: 25px;
	height: 25px;
}

.icon-blog {
	@extend %svg-common;
	background-position: 0 13.333333333333334%;
}

.icon-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-campaign {
	@extend %svg-common;
	background-position: 6.666666666666667% 13.333333333333334%;
}

.icon-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-campaigncompleted {
	@extend %svg-common;
	background-position: 13.333333333333334% 13.333333333333334%;
}

.icon-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-city {
	@extend %svg-common;
	background-position: 20% 0;
}

.icon-city-dims {
	width: 25px;
	height: 25px;
}

.icon-close {
	@extend %svg-common;
	background-position: 20% 6.666666666666667%;
}

.icon-close-dims {
	width: 25px;
	height: 25px;
}

.icon-close2 {
	@extend %svg-common;
	background-position: 20% 13.333333333333334%;
}

.icon-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-closedelete {
	@extend %svg-common;
	background-position: 0 20%;
}

.icon-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-color-add {
	@extend %svg-common;
	background-position: 6.666666666666667% 20%;
}

.icon-color-add-dims {
	width: 25px;
	height: 25px;
}

.icon-color-approve {
	@extend %svg-common;
	background-position: 13.333333333333334% 20%;
}

.icon-color-approve-dims {
	width: 25px;
	height: 25px;
}

.icon-color-approved {
	@extend %svg-common;
	background-position: 20% 20%;
}

.icon-color-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-color-editing {
	@extend %svg-common;
	background-position: 26.666666666666668% 0;
}

.icon-color-editing-dims {
	width: 25px;
	height: 25px;
}

.icon-color-liked {
	@extend %svg-common;
	background-position: 26.666666666666668% 6.666666666666667%;
}

.icon-color-liked-dims {
	width: 25px;
	height: 25px;
}

.icon-customeridea {
	@extend %svg-common;
	background-position: 26.666666666666668% 13.333333333333334%;
}

.icon-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-dashboard {
	@extend %svg-common;
	background-position: 26.666666666666668% 20%;
}

.icon-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-design {
	@extend %svg-common;
	background-position: 0 26.666666666666668%;
}

.icon-design-dims {
	width: 25px;
	height: 25px;
}

.icon-developer {
	@extend %svg-common;
	background-position: 6.666666666666667% 26.666666666666668%;
}

.icon-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-document {
	@extend %svg-common;
	background-position: 13.333333333333334% 26.666666666666668%;
}

.icon-document-dims {
	width: 25px;
	height: 25px;
}

.icon-download {
	@extend %svg-common;
	background-position: 20% 26.666666666666668%;
}

.icon-download-dims {
	width: 25px;
	height: 25px;
}

.icon-download2 {
	@extend %svg-common;
	background-position: 26.666666666666668% 26.666666666666668%;
}

.icon-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-edit {
	@extend %svg-common;
	background-position: 33.333333333333336% 0;
}

.icon-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-film {
	@extend %svg-common;
	background-position: 33.333333333333336% 6.666666666666667%;
}

.icon-film-dims {
	width: 25px;
	height: 25px;
}

.icon-folder {
	@extend %svg-common;
	background-position: 33.333333333333336% 13.333333333333334%;
}

.icon-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-follower {
	@extend %svg-common;
	background-position: 33.333333333333336% 20%;
}

.icon-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-food {
	@extend %svg-common;
	background-position: 33.333333333333336% 26.666666666666668%;
}

.icon-food-dims {
	width: 25px;
	height: 25px;
}

.icon-games {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.icon-games-dims {
	width: 25px;
	height: 25px;
}

.icon-gender {
	@extend %svg-common;
	background-position: 6.666666666666667% 33.333333333333336%;
}

.icon-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-invite {
	@extend %svg-common;
	background-position: 13.333333333333334% 33.333333333333336%;
}

.icon-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-journalism {
	@extend %svg-common;
	background-position: 20% 33.333333333333336%;
}

.icon-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-like {
	@extend %svg-common;
	background-position: 26.666666666666668% 33.333333333333336%;
}

.icon-like-dims {
	width: 25px;
	height: 25px;
}

.icon-location {
	@extend %svg-common;
	background-position: 33.333333333333336% 33.333333333333336%;
}

.icon-location-dims {
	width: 25px;
	height: 25px;
}

.icon-locked {
	@extend %svg-common;
	background-position: 40% 0;
}

.icon-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-mail {
	@extend %svg-common;
	background-position: 40% 6.666666666666667%;
}

.icon-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-mainauthor {
	@extend %svg-common;
	background-position: 40% 13.333333333333334%;
}

.icon-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-menu {
	@extend %svg-common;
	background-position: 40% 20%;
}

.icon-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-activity {
	@extend %svg-common;
	background-position: 40% 26.666666666666668%;
}

.icon-menu-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-add {
	@extend %svg-common;
	background-position: 40% 33.333333333333336%;
}

.icon-menu-add-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-addmember {
	@extend %svg-common;
	background-position: 0 40%;
}

.icon-menu-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-allprojects {
	@extend %svg-common;
	background-position: 6.666666666666667% 40%;
}

.icon-menu-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-approved {
	@extend %svg-common;
	background-position: 13.333333333333334% 40%;
}

.icon-menu-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-art {
	@extend %svg-common;
	background-position: 20% 40%;
}

.icon-menu-art-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-blog {
	@extend %svg-common;
	background-position: 26.666666666666668% 40%;
}

.icon-menu-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-campaign {
	@extend %svg-common;
	background-position: 33.333333333333336% 40%;
}

.icon-menu-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-campaigncompleted {
	@extend %svg-common;
	background-position: 40% 40%;
}

.icon-menu-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-city {
	@extend %svg-common;
	background-position: 46.666666666666664% 0;
}

.icon-menu-city-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-close {
	@extend %svg-common;
	background-position: 46.666666666666664% 6.666666666666667%;
}

.icon-menu-close-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-close2 {
	@extend %svg-common;
	background-position: 46.666666666666664% 13.333333333333334%;
}

.icon-menu-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-closedelete {
	@extend %svg-common;
	background-position: 46.666666666666664% 20%;
}

.icon-menu-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-customeridea {
	@extend %svg-common;
	background-position: 46.666666666666664% 26.666666666666668%;
}

.icon-menu-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-dashboard {
	@extend %svg-common;
	background-position: 46.666666666666664% 33.333333333333336%;
}

.icon-menu-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-design {
	@extend %svg-common;
	background-position: 46.666666666666664% 40%;
}

.icon-menu-design-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-developer {
	@extend %svg-common;
	background-position: 0 46.666666666666664%;
}

.icon-menu-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-document {
	@extend %svg-common;
	background-position: 6.666666666666667% 46.666666666666664%;
}

.icon-menu-document-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-download {
	@extend %svg-common;
	background-position: 13.333333333333334% 46.666666666666664%;
}

.icon-menu-download-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-download2 {
	@extend %svg-common;
	background-position: 20% 46.666666666666664%;
}

.icon-menu-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-edit {
	@extend %svg-common;
	background-position: 26.666666666666668% 46.666666666666664%;
}

.icon-menu-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-film {
	@extend %svg-common;
	background-position: 33.333333333333336% 46.666666666666664%;
}

.icon-menu-film-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-folder {
	@extend %svg-common;
	background-position: 40% 46.666666666666664%;
}

.icon-menu-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-follower {
	@extend %svg-common;
	background-position: 46.666666666666664% 46.666666666666664%;
}

.icon-menu-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-food {
	@extend %svg-common;
	background-position: 53.333333333333336% 0;
}

.icon-menu-food-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-games {
	@extend %svg-common;
	background-position: 53.333333333333336% 6.666666666666667%;
}

.icon-menu-games-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-gender {
	@extend %svg-common;
	background-position: 53.333333333333336% 13.333333333333334%;
}

.icon-menu-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-invite {
	@extend %svg-common;
	background-position: 53.333333333333336% 20%;
}

.icon-menu-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-journalism {
	@extend %svg-common;
	background-position: 53.333333333333336% 26.666666666666668%;
}

.icon-menu-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-like {
	@extend %svg-common;
	background-position: 53.333333333333336% 33.333333333333336%;
}

.icon-menu-like-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-location {
	@extend %svg-common;
	background-position: 53.333333333333336% 40%;
}

.icon-menu-location-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-locked {
	@extend %svg-common;
	background-position: 53.333333333333336% 46.666666666666664%;
}

.icon-menu-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-mail {
	@extend %svg-common;
	background-position: 0 53.333333333333336%;
}

.icon-menu-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-mainauthor {
	@extend %svg-common;
	background-position: 6.666666666666667% 53.333333333333336%;
}

.icon-menu-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-menu {
	@extend %svg-common;
	background-position: 13.333333333333334% 53.333333333333336%;
}

.icon-menu-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-message {
	@extend %svg-common;
	background-position: 20% 53.333333333333336%;
}

.icon-menu-message-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-moreoptions {
	@extend %svg-common;
	background-position: 26.666666666666668% 53.333333333333336%;
}

.icon-menu-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-music {
	@extend %svg-common;
	background-position: 33.333333333333336% 53.333333333333336%;
}

.icon-menu-music-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-notification {
	@extend %svg-common;
	background-position: 40% 53.333333333333336%;
}

.icon-menu-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-object {
	@extend %svg-common;
	background-position: 46.666666666666664% 53.333333333333336%;
}

.icon-menu-object-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-overview {
	@extend %svg-common;
	background-position: 53.333333333333336% 53.333333333333336%;
}

.icon-menu-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-photography {
	@extend %svg-common;
	background-position: 60% 0;
}

.icon-menu-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-profile {
	@extend %svg-common;
	background-position: 60% 6.666666666666667%;
}

.icon-menu-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-project {
	@extend %svg-common;
	background-position: 60% 13.333333333333334%;
}

.icon-menu-project-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-publishing {
	@extend %svg-common;
	background-position: 60% 20%;
}

.icon-menu-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-reply {
	@extend %svg-common;
	background-position: 60% 26.666666666666668%;
}

.icon-menu-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-reward {
	@extend %svg-common;
	background-position: 60% 33.333333333333336%;
}

.icon-menu-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-search {
	@extend %svg-common;
	background-position: 60% 40%;
}

.icon-menu-search-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-seen {
	@extend %svg-common;
	background-position: 60% 46.666666666666664%;
}

.icon-menu-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-send {
	@extend %svg-common;
	background-position: 60% 53.333333333333336%;
}

.icon-menu-send-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-settings {
	@extend %svg-common;
	background-position: 0 60%;
}

.icon-menu-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-signout {
	@extend %svg-common;
	background-position: 6.666666666666667% 60%;
}

.icon-menu-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-sport {
	@extend %svg-common;
	background-position: 13.333333333333334% 60%;
}

.icon-menu-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-start {
	@extend %svg-common;
	background-position: 20% 60%;
}

.icon-menu-start-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-team {
	@extend %svg-common;
	background-position: 26.666666666666668% 60%;
}

.icon-menu-team-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-technology {
	@extend %svg-common;
	background-position: 33.333333333333336% 60%;
}

.icon-menu-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-time {
	@extend %svg-common;
	background-position: 40% 60%;
}

.icon-menu-time-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-upload {
	@extend %svg-common;
	background-position: 46.666666666666664% 60%;
}

.icon-menu-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-user {
	@extend %svg-common;
	background-position: 53.333333333333336% 60%;
}

.icon-menu-user-dims {
	width: 25px;
	height: 25px;
}

.icon-menu-work {
	@extend %svg-common;
	background-position: 60% 60%;
}

.icon-menu-work-dims {
	width: 25px;
	height: 25px;
}

.icon-message {
	@extend %svg-common;
	background-position: 66.66666666666667% 0;
}

.icon-message-dims {
	width: 25px;
	height: 25px;
}

.icon-moreoptions {
	@extend %svg-common;
	background-position: 66.66666666666667% 6.666666666666667%;
}

.icon-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-music {
	@extend %svg-common;
	background-position: 66.66666666666667% 13.333333333333334%;
}

.icon-music-dims {
	width: 25px;
	height: 25px;
}

.icon-notification {
	@extend %svg-common;
	background-position: 66.66666666666667% 20%;
}

.icon-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-object {
	@extend %svg-common;
	background-position: 66.66666666666667% 26.666666666666668%;
}

.icon-object-dims {
	width: 25px;
	height: 25px;
}

.icon-overview {
	@extend %svg-common;
	background-position: 66.66666666666667% 33.333333333333336%;
}

.icon-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-photography {
	@extend %svg-common;
	background-position: 66.66666666666667% 40%;
}

.icon-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-profile {
	@extend %svg-common;
	background-position: 66.66666666666667% 46.666666666666664%;
}

.icon-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-project {
	@extend %svg-common;
	background-position: 66.66666666666667% 53.333333333333336%;
}

.icon-project-dims {
	width: 25px;
	height: 25px;
}

.icon-publishing {
	@extend %svg-common;
	background-position: 66.66666666666667% 60%;
}

.icon-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-reply {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.icon-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-reward {
	@extend %svg-common;
	background-position: 6.666666666666667% 66.66666666666667%;
}

.icon-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-search {
	@extend %svg-common;
	background-position: 13.333333333333334% 66.66666666666667%;
}

.icon-search-dims {
	width: 25px;
	height: 25px;
}

.icon-seen {
	@extend %svg-common;
	background-position: 20% 66.66666666666667%;
}

.icon-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-send {
	@extend %svg-common;
	background-position: 26.666666666666668% 66.66666666666667%;
}

.icon-send-dims {
	width: 25px;
	height: 25px;
}

.icon-settings {
	@extend %svg-common;
	background-position: 33.333333333333336% 66.66666666666667%;
}

.icon-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-activity {
	@extend %svg-common;
	background-position: 40% 66.66666666666667%;
}

.icon-sidepanel-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-add {
	@extend %svg-common;
	background-position: 46.666666666666664% 66.66666666666667%;
}

.icon-sidepanel-add-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-addmember {
	@extend %svg-common;
	background-position: 53.333333333333336% 66.66666666666667%;
}

.icon-sidepanel-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-allprojects {
	@extend %svg-common;
	background-position: 60% 66.66666666666667%;
}

.icon-sidepanel-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-approved {
	@extend %svg-common;
	background-position: 66.66666666666667% 66.66666666666667%;
}

.icon-sidepanel-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-art {
	@extend %svg-common;
	background-position: 73.33333333333333% 0;
}

.icon-sidepanel-art-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-blog {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-sidepanel-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-campaign {
	@extend %svg-common;
	background-position: 73.33333333333333% 13.333333333333334%;
}

.icon-sidepanel-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-campaigncompleted {
	@extend %svg-common;
	background-position: 73.33333333333333% 20%;
}

.icon-sidepanel-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-city {
	@extend %svg-common;
	background-position: 73.33333333333333% 26.666666666666668%;
}

.icon-sidepanel-city-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-close {
	@extend %svg-common;
	background-position: 73.33333333333333% 33.333333333333336%;
}

.icon-sidepanel-close-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-close2 {
	@extend %svg-common;
	background-position: 73.33333333333333% 40%;
}

.icon-sidepanel-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-closedelete {
	@extend %svg-common;
	background-position: 73.33333333333333% 46.666666666666664%;
}

.icon-sidepanel-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-customeridea {
	@extend %svg-common;
	background-position: 73.33333333333333% 53.333333333333336%;
}

.icon-sidepanel-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-dashboard {
	@extend %svg-common;
	background-position: 73.33333333333333% 60%;
}

.icon-sidepanel-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-design {
	@extend %svg-common;
	background-position: 73.33333333333333% 66.66666666666667%;
}

.icon-sidepanel-design-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-developer {
	@extend %svg-common;
	background-position: 0 73.33333333333333%;
}

.icon-sidepanel-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-document {
	@extend %svg-common;
	background-position: 6.666666666666667% 73.33333333333333%;
}

.icon-sidepanel-document-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-download {
	@extend %svg-common;
	background-position: 13.333333333333334% 73.33333333333333%;
}

.icon-sidepanel-download-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-download2 {
	@extend %svg-common;
	background-position: 20% 73.33333333333333%;
}

.icon-sidepanel-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-edit {
	@extend %svg-common;
	background-position: 26.666666666666668% 73.33333333333333%;
}

.icon-sidepanel-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-film {
	@extend %svg-common;
	background-position: 33.333333333333336% 73.33333333333333%;
}

.icon-sidepanel-film-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-folder {
	@extend %svg-common;
	background-position: 40% 73.33333333333333%;
}

.icon-sidepanel-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-follower {
	@extend %svg-common;
	background-position: 46.666666666666664% 73.33333333333333%;
}

.icon-sidepanel-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-food {
	@extend %svg-common;
	background-position: 53.333333333333336% 73.33333333333333%;
}

.icon-sidepanel-food-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-games {
	@extend %svg-common;
	background-position: 60% 73.33333333333333%;
}

.icon-sidepanel-games-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-gender {
	@extend %svg-common;
	background-position: 66.66666666666667% 73.33333333333333%;
}

.icon-sidepanel-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-invite {
	@extend %svg-common;
	background-position: 73.33333333333333% 73.33333333333333%;
}

.icon-sidepanel-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-journalism {
	@extend %svg-common;
	background-position: 80% 0;
}

.icon-sidepanel-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-like {
	@extend %svg-common;
	background-position: 80% 6.666666666666667%;
}

.icon-sidepanel-like-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-location {
	@extend %svg-common;
	background-position: 80% 13.333333333333334%;
}

.icon-sidepanel-location-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-locked {
	@extend %svg-common;
	background-position: 80% 20%;
}

.icon-sidepanel-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-mail {
	@extend %svg-common;
	background-position: 80% 26.666666666666668%;
}

.icon-sidepanel-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-mainauthor {
	@extend %svg-common;
	background-position: 80% 33.333333333333336%;
}

.icon-sidepanel-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-menu {
	@extend %svg-common;
	background-position: 80% 40%;
}

.icon-sidepanel-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-message {
	@extend %svg-common;
	background-position: 80% 46.666666666666664%;
}

.icon-sidepanel-message-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-moreoptions {
	@extend %svg-common;
	background-position: 80% 53.333333333333336%;
}

.icon-sidepanel-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-music {
	@extend %svg-common;
	background-position: 80% 60%;
}

.icon-sidepanel-music-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-notification {
	@extend %svg-common;
	background-position: 80% 66.66666666666667%;
}

.icon-sidepanel-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-object {
	@extend %svg-common;
	background-position: 80% 73.33333333333333%;
}

.icon-sidepanel-object-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-overview {
	@extend %svg-common;
	background-position: 0 80%;
}

.icon-sidepanel-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-photography {
	@extend %svg-common;
	background-position: 6.666666666666667% 80%;
}

.icon-sidepanel-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-profile {
	@extend %svg-common;
	background-position: 13.333333333333334% 80%;
}

.icon-sidepanel-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-project {
	@extend %svg-common;
	background-position: 20% 80%;
}

.icon-sidepanel-project-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-publishing {
	@extend %svg-common;
	background-position: 26.666666666666668% 80%;
}

.icon-sidepanel-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-reply {
	@extend %svg-common;
	background-position: 33.333333333333336% 80%;
}

.icon-sidepanel-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-reward {
	@extend %svg-common;
	background-position: 40% 80%;
}

.icon-sidepanel-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-search {
	@extend %svg-common;
	background-position: 46.666666666666664% 80%;
}

.icon-sidepanel-search-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-seen {
	@extend %svg-common;
	background-position: 53.333333333333336% 80%;
}

.icon-sidepanel-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-send {
	@extend %svg-common;
	background-position: 60% 80%;
}

.icon-sidepanel-send-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-settings {
	@extend %svg-common;
	background-position: 66.66666666666667% 80%;
}

.icon-sidepanel-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-signout {
	@extend %svg-common;
	background-position: 73.33333333333333% 80%;
}

.icon-sidepanel-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-sport {
	@extend %svg-common;
	background-position: 80% 80%;
}

.icon-sidepanel-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-start {
	@extend %svg-common;
	background-position: 86.66666666666667% 0;
}

.icon-sidepanel-start-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-team {
	@extend %svg-common;
	background-position: 86.66666666666667% 6.666666666666667%;
}

.icon-sidepanel-team-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-technology {
	@extend %svg-common;
	background-position: 86.66666666666667% 13.333333333333334%;
}

.icon-sidepanel-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-time {
	@extend %svg-common;
	background-position: 86.66666666666667% 20%;
}

.icon-sidepanel-time-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-upload {
	@extend %svg-common;
	background-position: 86.66666666666667% 26.666666666666668%;
}

.icon-sidepanel-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-user {
	@extend %svg-common;
	background-position: 86.66666666666667% 33.333333333333336%;
}

.icon-sidepanel-user-dims {
	width: 25px;
	height: 25px;
}

.icon-sidepanel-work {
	@extend %svg-common;
	background-position: 86.66666666666667% 40%;
}

.icon-sidepanel-work-dims {
	width: 25px;
	height: 25px;
}

.icon-signout {
	@extend %svg-common;
	background-position: 86.66666666666667% 46.666666666666664%;
}

.icon-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-sport {
	@extend %svg-common;
	background-position: 86.66666666666667% 53.333333333333336%;
}

.icon-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-start {
	@extend %svg-common;
	background-position: 86.66666666666667% 60%;
}

.icon-start-dims {
	width: 25px;
	height: 25px;
}

.icon-team {
	@extend %svg-common;
	background-position: 86.66666666666667% 66.66666666666667%;
}

.icon-team-dims {
	width: 25px;
	height: 25px;
}

.icon-technology {
	@extend %svg-common;
	background-position: 86.66666666666667% 73.33333333333333%;
}

.icon-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-time {
	@extend %svg-common;
	background-position: 86.66666666666667% 80%;
}

.icon-time-dims {
	width: 25px;
	height: 25px;
}

.icon-upload {
	@extend %svg-common;
	background-position: 0 86.66666666666667%;
}

.icon-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-user {
	@extend %svg-common;
	background-position: 6.666666666666667% 86.66666666666667%;
}

.icon-user-dims {
	width: 25px;
	height: 25px;
}

.icon-white-activity {
	@extend %svg-common;
	background-position: 13.333333333333334% 86.66666666666667%;
}

.icon-white-activity-dims {
	width: 25px;
	height: 25px;
}

.icon-white-add {
	@extend %svg-common;
	background-position: 20% 86.66666666666667%;
}

.icon-white-add-dims {
	width: 25px;
	height: 25px;
}

.icon-white-addmember {
	@extend %svg-common;
	background-position: 26.666666666666668% 86.66666666666667%;
}

.icon-white-addmember-dims {
	width: 25px;
	height: 25px;
}

.icon-white-allprojects {
	@extend %svg-common;
	background-position: 33.333333333333336% 86.66666666666667%;
}

.icon-white-allprojects-dims {
	width: 25px;
	height: 25px;
}

.icon-white-approved {
	@extend %svg-common;
	background-position: 40% 86.66666666666667%;
}

.icon-white-approved-dims {
	width: 25px;
	height: 25px;
}

.icon-white-art {
	@extend %svg-common;
	background-position: 46.666666666666664% 86.66666666666667%;
}

.icon-white-art-dims {
	width: 25px;
	height: 25px;
}

.icon-white-blog {
	@extend %svg-common;
	background-position: 53.333333333333336% 86.66666666666667%;
}

.icon-white-blog-dims {
	width: 25px;
	height: 25px;
}

.icon-white-campaign {
	@extend %svg-common;
	background-position: 60% 86.66666666666667%;
}

.icon-white-campaign-dims {
	width: 25px;
	height: 25px;
}

.icon-white-campaigncompleted {
	@extend %svg-common;
	background-position: 66.66666666666667% 86.66666666666667%;
}

.icon-white-campaigncompleted-dims {
	width: 25px;
	height: 25px;
}

.icon-white-city {
	@extend %svg-common;
	background-position: 73.33333333333333% 86.66666666666667%;
}

.icon-white-city-dims {
	width: 25px;
	height: 25px;
}

.icon-white-close {
	@extend %svg-common;
	background-position: 80% 86.66666666666667%;
}

.icon-white-close-dims {
	width: 25px;
	height: 25px;
}

.icon-white-close2 {
	@extend %svg-common;
	background-position: 86.66666666666667% 86.66666666666667%;
}

.icon-white-close2-dims {
	width: 25px;
	height: 25px;
}

.icon-white-closedelete {
	@extend %svg-common;
	background-position: 93.33333333333333% 0;
}

.icon-white-closedelete-dims {
	width: 25px;
	height: 25px;
}

.icon-white-customeridea {
	@extend %svg-common;
	background-position: 93.33333333333333% 6.666666666666667%;
}

.icon-white-customeridea-dims {
	width: 25px;
	height: 25px;
}

.icon-white-dashboard {
	@extend %svg-common;
	background-position: 93.33333333333333% 13.333333333333334%;
}

.icon-white-dashboard-dims {
	width: 25px;
	height: 25px;
}

.icon-white-design {
	@extend %svg-common;
	background-position: 93.33333333333333% 20%;
}

.icon-white-design-dims {
	width: 25px;
	height: 25px;
}

.icon-white-developer {
	@extend %svg-common;
	background-position: 93.33333333333333% 26.666666666666668%;
}

.icon-white-developer-dims {
	width: 25px;
	height: 25px;
}

.icon-white-document {
	@extend %svg-common;
	background-position: 93.33333333333333% 33.333333333333336%;
}

.icon-white-document-dims {
	width: 25px;
	height: 25px;
}

.icon-white-download {
	@extend %svg-common;
	background-position: 93.33333333333333% 40%;
}

.icon-white-download-dims {
	width: 25px;
	height: 25px;
}

.icon-white-download2 {
	@extend %svg-common;
	background-position: 93.33333333333333% 46.666666666666664%;
}

.icon-white-download2-dims {
	width: 25px;
	height: 25px;
}

.icon-white-edit {
	@extend %svg-common;
	background-position: 93.33333333333333% 53.333333333333336%;
}

.icon-white-edit-dims {
	width: 25px;
	height: 25px;
}

.icon-white-film {
	@extend %svg-common;
	background-position: 93.33333333333333% 60%;
}

.icon-white-film-dims {
	width: 25px;
	height: 25px;
}

.icon-white-folder {
	@extend %svg-common;
	background-position: 93.33333333333333% 66.66666666666667%;
}

.icon-white-folder-dims {
	width: 25px;
	height: 25px;
}

.icon-white-follower {
	@extend %svg-common;
	background-position: 93.33333333333333% 73.33333333333333%;
}

.icon-white-follower-dims {
	width: 25px;
	height: 25px;
}

.icon-white-food {
	@extend %svg-common;
	background-position: 93.33333333333333% 80%;
}

.icon-white-food-dims {
	width: 25px;
	height: 25px;
}

.icon-white-games {
	@extend %svg-common;
	background-position: 93.33333333333333% 86.66666666666667%;
}

.icon-white-games-dims {
	width: 25px;
	height: 25px;
}

.icon-white-gender {
	@extend %svg-common;
	background-position: 0 93.33333333333333%;
}

.icon-white-gender-dims {
	width: 25px;
	height: 25px;
}

.icon-white-invite {
	@extend %svg-common;
	background-position: 6.666666666666667% 93.33333333333333%;
}

.icon-white-invite-dims {
	width: 25px;
	height: 25px;
}

.icon-white-journalism {
	@extend %svg-common;
	background-position: 13.333333333333334% 93.33333333333333%;
}

.icon-white-journalism-dims {
	width: 25px;
	height: 25px;
}

.icon-white-like {
	@extend %svg-common;
	background-position: 20% 93.33333333333333%;
}

.icon-white-like-dims {
	width: 25px;
	height: 25px;
}

.icon-white-location {
	@extend %svg-common;
	background-position: 26.666666666666668% 93.33333333333333%;
}

.icon-white-location-dims {
	width: 25px;
	height: 25px;
}

.icon-white-locked {
	@extend %svg-common;
	background-position: 33.333333333333336% 93.33333333333333%;
}

.icon-white-locked-dims {
	width: 25px;
	height: 25px;
}

.icon-white-mail {
	@extend %svg-common;
	background-position: 40% 93.33333333333333%;
}

.icon-white-mail-dims {
	width: 25px;
	height: 25px;
}

.icon-white-mainauthor {
	@extend %svg-common;
	background-position: 46.666666666666664% 93.33333333333333%;
}

.icon-white-mainauthor-dims {
	width: 25px;
	height: 25px;
}

.icon-white-menu {
	@extend %svg-common;
	background-position: 53.333333333333336% 93.33333333333333%;
}

.icon-white-menu-dims {
	width: 25px;
	height: 25px;
}

.icon-white-message {
	@extend %svg-common;
	background-position: 60% 93.33333333333333%;
}

.icon-white-message-dims {
	width: 25px;
	height: 25px;
}

.icon-white-moreoptions {
	@extend %svg-common;
	background-position: 66.66666666666667% 93.33333333333333%;
}

.icon-white-moreoptions-dims {
	width: 25px;
	height: 25px;
}

.icon-white-music {
	@extend %svg-common;
	background-position: 73.33333333333333% 93.33333333333333%;
}

.icon-white-music-dims {
	width: 25px;
	height: 25px;
}

.icon-white-notification {
	@extend %svg-common;
	background-position: 80% 93.33333333333333%;
}

.icon-white-notification-dims {
	width: 25px;
	height: 25px;
}

.icon-white-object {
	@extend %svg-common;
	background-position: 86.66666666666667% 93.33333333333333%;
}

.icon-white-object-dims {
	width: 25px;
	height: 25px;
}

.icon-white-overview {
	@extend %svg-common;
	background-position: 93.33333333333333% 93.33333333333333%;
}

.icon-white-overview-dims {
	width: 25px;
	height: 25px;
}

.icon-white-photography {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-white-photography-dims {
	width: 25px;
	height: 25px;
}

.icon-white-profile {
	@extend %svg-common;
	background-position: 100% 6.666666666666667%;
}

.icon-white-profile-dims {
	width: 25px;
	height: 25px;
}

.icon-white-project {
	@extend %svg-common;
	background-position: 100% 13.333333333333334%;
}

.icon-white-project-dims {
	width: 25px;
	height: 25px;
}

.icon-white-publishing {
	@extend %svg-common;
	background-position: 100% 20%;
}

.icon-white-publishing-dims {
	width: 25px;
	height: 25px;
}

.icon-white-reply {
	@extend %svg-common;
	background-position: 100% 26.666666666666668%;
}

.icon-white-reply-dims {
	width: 25px;
	height: 25px;
}

.icon-white-reward {
	@extend %svg-common;
	background-position: 100% 33.333333333333336%;
}

.icon-white-reward-dims {
	width: 25px;
	height: 25px;
}

.icon-white-search {
	@extend %svg-common;
	background-position: 100% 40%;
}

.icon-white-search-dims {
	width: 25px;
	height: 25px;
}

.icon-white-seen {
	@extend %svg-common;
	background-position: 100% 46.666666666666664%;
}

.icon-white-seen-dims {
	width: 25px;
	height: 25px;
}

.icon-white-send {
	@extend %svg-common;
	background-position: 100% 53.333333333333336%;
}

.icon-white-send-dims {
	width: 25px;
	height: 25px;
}

.icon-white-settings {
	@extend %svg-common;
	background-position: 100% 60%;
}

.icon-white-settings-dims {
	width: 25px;
	height: 25px;
}

.icon-white-signout {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
}

.icon-white-signout-dims {
	width: 25px;
	height: 25px;
}

.icon-white-sport {
	@extend %svg-common;
	background-position: 100% 73.33333333333333%;
}

.icon-white-sport-dims {
	width: 25px;
	height: 25px;
}

.icon-white-start {
	@extend %svg-common;
	background-position: 100% 80%;
}

.icon-white-start-dims {
	width: 25px;
	height: 25px;
}

.icon-white-team {
	@extend %svg-common;
	background-position: 100% 86.66666666666667%;
}

.icon-white-team-dims {
	width: 25px;
	height: 25px;
}

.icon-white-technology {
	@extend %svg-common;
	background-position: 100% 93.33333333333333%;
}

.icon-white-technology-dims {
	width: 25px;
	height: 25px;
}

.icon-white-time {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-white-time-dims {
	width: 25px;
	height: 25px;
}

.icon-white-upload {
	@extend %svg-common;
	background-position: 6.666666666666667% 100%;
}

.icon-white-upload-dims {
	width: 25px;
	height: 25px;
}

.icon-white-user {
	@extend %svg-common;
	background-position: 13.333333333333334% 100%;
}

.icon-white-user-dims {
	width: 25px;
	height: 25px;
}

.icon-white-work {
	@extend %svg-common;
	background-position: 20% 100%;
}

.icon-white-work-dims {
	width: 25px;
	height: 25px;
}

.icon-work {
	@extend %svg-common;
	background-position: 26.666666666666668% 100%;
}

.icon-work-dims {
	width: 25px;
	height: 25px;
}
