body {
	> header {
		background: $color-purple-flashy;
		height: 65px;

		&.no-menu {
			background: $color-white;
			text-align: left;

			a {
				display: inline-block;
				color: $color-black-night;

				&.login, &.register{
					margin-top: $margin-20;
					margin-left: $margin-20;
					float: right;
				}

				&.about, &.how {
					margin-top: $margin-20;
					margin-left: $margin-20;
					float: right;
					line-height: $line-height-large;
					font-size: $font-size-medium;
					color: $color-gray-clear;
					transition: $transition-time-2 $easing-1;
					text-transform: lowercase;

					&:hover, &:active {
						color: $color-black-night;
					}
				}
			}

			.logo {
				width: auto !important;
				height: 70px;
			}

			margin: $margin-20 auto 0;
		}

		.global-nav {
			.container {
				height: 100%;
				position: relative;

				> ul {
					height: 65px;
					position: relative;
					text-align: right;
					width: 100%;

					li {
						display: inline-block;
						height: 100%;
						padding-right: $margin-15;
						position: relative;

						ul.submenu {
							background: $color-purple-flashy;
							left: 0;
							opacity: 0;
							padding: 0 $margin-15 $margin-15;
							position: absolute;
							text-align: left;
							visibility: hidden;
							width: 100%;
							z-index: 99;

							li {
								a {
									display: block;
									white-space: nowrap;
									padding-bottom: 4px;
								}

							}

						}

						&:hover {
							ul.submenu {
								opacity: 1;
								visibility: visible;
							}

							> div {
								> div {
									a {
										color: $color-white;
									}

								}

							}

						}

						a {
							color: $color-purple-candy;

							&:focus,
							&:hover {
								color: $color-white;
							}

							&.active {
								color: $color-purple-candy
							}

						}

						&.brand {
							left: 0;
							position: absolute;
							top: 0;

							.logo {
								height: 45px;
								width: auto !important;
							}

						}

						&.search {
							input.input-search {
								color: $color-white;
								border-color: $color-purple-candy;
								@include placeholderColor($color-purple-candy);
								padding-bottom: 8px;
							}

							.icon-search {
								color: $color-purple-candy;
								cursor: pointer;
								position: absolute;
								right: 10px;
								top: 25px;
							}

						}

						&.profile {
							padding-left: $margin-15;
							padding-top: $margin-10;
							position: relative;

							> .vertical-align .icon {
								padding-bottom: $margin-10;
							}

							.user-email {
								display: inline-block;
								max-width: 125px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								line-height: 100%;
							    height: 20px;
							    padding-top: 2px;
							}

							&:before {
								background-color: $color-purple-candy;
								content: "";
								display: inline-block;
								height: 30px;
								left: 0;
								margin-top: -15px;
								position: absolute;
								top: 50%;
								width: 1px;
							}

						}

						.middle {
							position: relative;
						}

					}

				}

			}

		}

	}

}