body {
	> header {
		background: $color-pink;
		height: 65px;

		.global-nav {
			.container {
				height: 100%;
				position: relative;

				> ul {
					height: 65px;
					position: relative;
					text-align: right;
					width: 100%;

					li {
						display: inline-block;
						height: 100%;
						padding-right: $margin-menu-item;
						position: relative;

						ul.submenu {
							background: $color-pink;
							left: 0;
							opacity: 0;
							padding: 0 $margin-menu-item $margin-menu-item;
							position: absolute;
							text-align: left;
							visibility: hidden;
							width: 100%;
							z-index: 99;

							li {
								display: block;
							}
						}

						&:hover {
							ul.submenu {
								opacity: 1;
								visibility: visible;
							}

							> div {
								> div {
									a {
										color: $color-candy-cyan;
									}
								}
							}
						}

						a {
							color: $color-candy-cyan;

							&:focus {

							}

							&.active {
								color: $color-candy-cyan
							}
						}

						&.brand {
							left: 0;
							position: absolute;
							top: 0;

							.logo {
								height: 45px;
								margin-top: $margin-5;
							}
						}

						&.search {

							input.input-search {
								color: $color-white;
								border-color: $color-candy-cyan;
								@include placeholderColor($color-candy-cyan);
								padding-bottom: 4px;
							}

							.icon-menu-search {
								cursor: pointer;
								//font-size: 15px;
								// height: 18px;
								position: absolute;
								right: 10px;
								top: 20px;
								//top: 23px;
								// width: 18px;

								// path {
									//fill: $color-menu-items;
								//}
							}
						}

						&.profile {
							padding-left: $margin-menu-item;
							position: relative;

							&:before {
								background-color: $color-candy-cyan;
								content: "";
								display: inline-block;
								height: 30px;
								left: 0;
								margin-top: -15px;
								position: absolute;
								top: 50%;
								width: 1px;
							}

							.fa-angle-down {
								margin-left: $margin-5;
								position: static;
								transition: none;
							}
						}

						.middle {
							position: relative;
						}
					}
				}
			}
		}
	}
}