body {
	> header {
		background: $color-flashy-purple;
		height: 65px;

		&.no-menu {
			background: $color-white;
			text-align: left;

			a {
				display: inline-block;

				&.login {
					margin-top: $margin-20;
					float: right;
				}

			}

			.logo {
				width: auto;
				height: 70px;
			}

			margin: $margin-20 auto 0;
		}

		.global-nav {
			.container {
				height: 100%;
				position: relative;

				> ul {
					height: 65px;
					position: relative;
					text-align: right;
					width: 100%;

					li {
						display: inline-block;
						height: 100%;
						padding-right: $margin-menu-item;
						position: relative;

						ul.submenu {
							background: $color-flashy-purple;
							left: 0;
							opacity: 0;
							padding: 0 $margin-menu-item $margin-menu-item;
							position: absolute;
							text-align: left;
							visibility: hidden;
							width: 100%;
							z-index: 99;

							li {
								a {
									display: block;
									white-space: nowrap;
									padding-bottom: 4px;
								}

							}

						}

						&:hover {
							ul.submenu {
								opacity: 1;
								visibility: visible;
							}

							> div {
								> div {
									a {
										color: $color-white;
									}

								}

							}

						}

						a {
							color: $color-candy-purple;

							&:focus,
							&:hover {
								color: $color-white;
							}

							&.active {
								color: $color-candy-purple
							}

						}

						&.brand {
							left: 0;
							position: absolute;
							top: 0;

							.logo {
								height: 45px;
								// margin-top: $margin-5;
							}

						}

						&.search {
							input.input-search {
								color: $color-white;
								border-color: $color-candy-purple;
								@include placeholderColor($color-candy-purple);
								padding-bottom: 6px;
							}

							.icon-search {
								color: $color-candy-purple;
								cursor: pointer;
								position: absolute;
								right: 10px;
								top: 25px;
							}

						}

						&.profile {
							padding-left: $margin-menu-item;
							position: relative;

							&:before {
								background-color: $color-candy-purple;
								content: "";
								display: inline-block;
								height: 30px;
								left: 0;
								margin-top: -15px;
								position: absolute;
								top: 50%;
								width: 1px;
							}

						}

						.middle {
							position: relative;
						}

					}

				}

			}

		}

	}

}