.overview-data {
	border-bottom: 1px solid $color-lines;
	margin-bottom: $margin-block-bottom;
	padding-bottom: $margin-block-bottom;
	@include antialiasText();

	h2.header-medium.secondary {
		color: $color-text-secondary;
		margin-bottom: $margin-header;
		text-align: center;
	}

	table {
		tr {
			td {
				padding-bottom: $margin-table-row;

				&:last-child {
					float: right;

					p {
						font-weight: $font-weight-bold;
					}
				}

				.icon {
					margin-right: $margin-item;

					path {
						fill: $color-text-secondary;
					}

					ellipse {
						stroke: $color-text-secondary;
					}
				}

				p {
					color: $color-text-secondary;
					display: inline-block;
					vertical-align: middle;
				}
			}

			&:last-child {
				td {
					padding-bottom: 0;
				}
			}
		}
	}
}