.overview-data {
	color: $color-white;
	border-bottom: 1px solid $color-transparent-white;
	margin-bottom: $margin-block-bottom;
	padding-bottom: $margin-block-bottom;
	@include antialiasText();

	h2.header-medium.secondary {
		color: $color-white;
		margin-bottom: $margin-header;
		text-align: center;
	}

	table {
		tr {
			td {
				padding-bottom: $margin-table-row;

				&:last-child {
					float: right;

					p {
						font-weight: $font-weight-bold;
					}

				}

				.icon {
					margin-right: $margin-item;
				}

				p {
					color: $color-white;
					display: inline-block;
					vertical-align: middle;
				}

			}

			&:last-child {
				td {
					padding-bottom: 0;
				}

			}

		}

	}

}