.modal-dialog {
	&.small {
		@media (min-width:62em) {
			max-width: 500px;
		}

	}

	&.big {
		@media (min-width:62em) {
			min-width: 900px;
		}

	}

	@include breakpoint(tablet) {
		width: 90% !important;
	}

	@include breakpoint(mobileonly) {
		width: auto !important;
	}

}

.modal {
	h1,
	h2,
	h3 {
		color: $color-black-night;
	}

	.modal-content {
		border-radius: 5px;
		padding: $margin-40 0;
		position: relative;

		h1 {
			margin-bottom: $margin-10;
		}

		.modal-step {
			display: none;
			opacity: 0;
			transition: opacity $transition-time-2 $easing-1;

			&.active {
				animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
				display: block;
			}

		}

		.modal-header {
			border: none;
			margin-bottom: $margin-30;
			padding: 0 $margin-40;

			.close-item {
				height: 20px;
				margin: 0;
				width: 20px;
			}

			.tooltip-container {
				left: 15px;
				position: absolute;
				top: 15px;

				.custom-tooltip {
					left: 0;
					top: 35px;

					&:after {
						left: 13px;
						right: auto;
					}

				}

			}

			.close {
				opacity: .6;
				position: absolute;
				right: 15px;
				top: 15px;

				&:hover {
					opacity: 1;
				}

			}

		}

		.modal-body {
			padding: 0 $margin-40;
		}

		.modal-footer {
			border: none;
			margin-top: $margin-30;
			padding: 0 $margin-40;
			text-align: center;

			.tutorial-pagination {
				margin-bottom: $margin-20;
				text-align: center;

				li {
					background: $color-gray-smooth;
					border-radius: 50%;
					cursor: pointer;
					display: inline-block;
					height: 10px;
					margin-bottom: 0 !important;
					margin-right: $margin-10;
					width: 10px;

					&:last-child {
						margin: 0;
					}

					&.active {
						background: none;
						border: 2px solid $color-purple-flashy;
					}

				}

			}

			a {
				width: 180px;

				&:last-child {
					margin-left: $margin-15 ;
				}

			}

		}

	}

}