.menu-subpage:not(.sidebar),.menu-subsection {
	@include paddingV($margin-10);
	margin-bottom: $margin-10;
	@include antialiasText();

	li {
		border-bottom: 3px solid transparent;
		cursor: pointer;
		display: inline-block;
		font-size: $font-size-4;
		font-weight: $font-weight-bold;
		letter-spacing: 1px;
		margin-right: $margin-15;
		padding-bottom: $margin-5;
		text-transform: uppercase;
		transition: all $transition-time-2 $easing-1;
		color: $color-purple-shading;

		&.active {
			color: $color-white;
			border-bottom: 3px solid $color-purple-flashy;
		}

	}

	&.public {
		li {
			&.active {
				color: $color-black-night;
			}

		}

	}

}