.custom-tooltip {
	background: $color-purple-flashy;
	border-radius: 5px;
	display: inline-block;
	min-width: 160px;
	opacity: 0;
	padding: $margin-15;
	position: absolute;
	text-align: left;
	transition: opacity $transition-time-1 $easing-1;
	visibility: hidden;
	z-index: 99;

	&:after {
		border: solid;
		border-color: $color-purple-flashy transparent;
		border-width: 0 6px 6px 6px;
		content: "";
		right: 5px;
		position: absolute;
		top: -6px;
		transform: translateX(-50%);
		transition: opacity $transition-time-1 $easing-1;
		z-index: 99;
	}

	li {
		line-height: $line-height-small;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	a {
		color: $color-purple-candy;

		&:hover {
			color: $color-white;

			&:after {
				display: none;
			}

		}

	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

}