.header-extra-large,
.header-large,
.header-medium,
.header-small,
.header-extra-small {
	color: $color-white;
	font-weight: $font-weight-bold;
	margin: 0;
	text-transform: uppercase;
	line-height: $line-height-headers;

	&.public {
		color: $color-black-night;
	}

}

.header-extra-large {
	font-size: $font-size-0;
	letter-spacing: $letter-spacing-3;
	line-height: 1;
}

.header-large {
	font-size: $font-size-1;
	letter-spacing: $letter-spacing-3;

	&.secondary {
		color: $color-black-night;
	}

}

.header-medium {
	font-size: $font-size-2;
	letter-spacing: $letter-spacing-2;

	&.secondary {
		color: $color-black-night;
		font-family: $font-header-secondary;
		letter-spacing: $letter-spacing-1;
		text-transform: none;
	}

}

.header-small {
	font-size: $font-size-3;
	letter-spacing: $letter-spacing-2;

	&.secondary {
		font-family: $font-header-secondary;
		letter-spacing: $letter-spacing-1;
	}

}

.header-extra-small {
	color: $color-black-night;
	font-family: $font-header-secondary;
	font-size: $font-size-3;
	letter-spacing: $letter-spacing-1;
	text-transform: none;
}

.header-sidebar {
	color: $color-gray-clear;
	font-family: $font-header-secondary;
	font-weight: $font-weight-regular;
	font-size: $font-size-3;
	margin-bottom: $margin-5;
}

.form-title {
	color: $color-black-night;
	text-transform: uppercase;
	font-size: $font-size-4;
	font-weight: $font-weight-semibold;
	margin-bottom: $margin-10;
}

.page-subtitle {
	font-size: $font-size-4;
	font-weight: $font-weight-bold;
}

.public-page-subtitle {
	font-size: $font-size-8;
}

.article-subtitle {
	color: $color-gray-clear;
}