.header-extra-large,
.header-large,
.header-medium,
.header-small,
.header-extra-small {
	color: $color-white;
	font-weight: $font-weight-bold;
	margin: 0;
	text-transform: uppercase;
	line-height: $line-height-small;

	&.public {
		color: $color-black-night;
	}

}

.header-extra-large {
	font-size: $font-size-extra-large;
	letter-spacing: $letter-spacing-large;
	line-height: 1;
}

.header-large {
	font-size: $font-size-large;
	letter-spacing: $letter-spacing-large;

	&.secondary {
		color: $color-black-night;
	}

}

.header-medium {
	font-size: $font-size-medium;
	letter-spacing: $letter-spacing-medium;

	&.secondary {
		color: $color-black-night;
		font-family: $font-header-secondary;
		letter-spacing: $letter-spacing-small;
		text-transform: none;
	}

}

.header-small {
	font-size: $font-size-small;
	letter-spacing: $letter-spacing-medium;

	&.secondary {
		font-family: $font-header-secondary;
		letter-spacing: $letter-spacing-small;
	}

}

.header-extra-small {
	color: $color-black-night;
	font-family: $font-header-secondary;
	font-size: $font-size-small;
	letter-spacing: $letter-spacing-small;
	text-transform: none;
}

.header-sidebar {
	color: $color-gray-clear;
	font-family: $font-header-secondary;
	font-weight: $font-weight-regular;
	font-size: $font-size-small;
	margin-bottom: $margin-5;
}

.form-title {
	color: $color-black-night;
	text-transform: uppercase;
	font-size: $font-size-extra-small;
	font-weight: $font-weight-semibold;
	margin-bottom: $margin-10;
}

.page-subtitle {
	font-size: $font-size-extra-small;
	font-weight: $font-weight-bold;
}

.public-page-subtitle {
	font-size: calc(#{$font-size-large} - #{$margin-5});
}

.article-subtitle {
	color: $color-gray-clear;
}