.block {
	background: $color-white;
	border-radius: 5px;
	padding: $margin-20;

	.buttons {
		margin-top: $margin-5;
		text-align: right;

		a {
			&:first-child {
				margin-right: $margin-15 ;
			}

		}

	}

}

.block-half {
	@extend .block;
	background: none;
	padding: 0;
	@include paddingH($margin-15);

	.background {
		background: $color-white;
		border-radius: 5px;
		padding: $margin-20;
	}

}

.block-image {
	@extend .block-half;

	.background-image {
		img {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

	}

	.background {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

}

.block-line {
	@extend .block;
	margin-bottom: $margin-20;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}

	header,
	.content,
	footer {
		padding: $margin-15;
	}

	header,
	.content {
		border-bottom: 1px solid $color-gray-smooth;
	}

	.content {
		position: relative;

		&:last-child {
			border: none;
		}

		p {
			line-height: $line-height-small;
		}

	}

	&.large {
		header,
		.content,
		footer {
			padding: $margin-20;
		}

		header,
		.content {
			border-bottom: 1px solid $color-gray-smooth;
		}

		.content {
			&:last-child {
				border: none;
			}

		}

	}

}

.block-line-half {
	@extend .block-line;
	background: none;
	@include paddingH($margin-15);

	.background {
		background: $color-white;
		border-radius: 5px;
	}

}

.block-fill {
	@extend .block;
	margin-bottom: $margin-20;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}

	.content,
	footer {
		padding: $margin-20;
	}

	header {
		background: $color-gray-soft;
		border-bottom: 1px solid $color-gray-smooth;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: $margin-20;

		.middle {
			i {
				margin-top: -4px;
			}

			i + h2 {
				display: inline-block;
				line-height: 25px;
			}

			&:last-child {
				text-align: right;

				p {
					span {
						color: $color-purple-flashy;
					}
				}
			}
		}
	}

	.content {
		position: relative;

		.category {
			right: 15px;
			top: 15px;
			position: absolute;

			p {
				display: inline-block;
				letter-spacing: 2px;
				margin: 0;
				text-transform: uppercase;
			}

		}

		h3 {
			margin-bottom: $margin-5;
		}

		p {
			line-height: $line-height-small;
		}
	}

	footer {
		border-top: 1px solid $color-gray-smooth;
		padding-top: $margin-20;
	}
}

.block-fill-half {
	@extend .block-fill;
	background: none;
	@include paddingH($margin-15);

	.background {
		background: $color-white;
		border-radius: 5px;
	}

}