.blogpost {
	// height: 298px;
	margin-bottom: $margin-30;

	.background-image {
		// max-height: 162px;
		background-image: url('../img/placeholders/blog_thumbnail.svg');
		background-position: center;
		background-size: cover;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		height: 160px;
		overflow: hidden;
		position: relative;

		.content {
			display: none;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;

			&.active {
				animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
				display: block;

				&:after {
					background: $color-purple-flashy;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					content: "";
					display: inline-block;
					height: 100%;
					left: 0;
					opacity: 0.65;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}
			}
		}
	}

	.background {
		min-height: 137px;
		position: relative;

		header {
			h2 {
				max-width: 260px;
			}

			time {
				letter-spacing: 1px;
			}

			.tooltip-container {
				position: absolute;
				right: 15px;
				top: 15px;

				a {
					i {
						color: $color-black-night;
					}

				}

				.custom-tooltip {
					right: -5px;
					top: 35px;
				}
			}
		}
	}

	&:hover {
		.background-image {
			.content {
				@extend .active;
			}
		}
	}

	&.public-blogpost {
		.background {
			border-bottom: 1px solid $color-gray-smooth;
			border-left: 1px solid $color-gray-smooth;
			border-right: 1px solid $color-gray-smooth;
		}
	}

	&__header {
		margin-bottom: $margin-30;
	}

	&__image {
		margin-bottom: $margin-30;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__article {
		margin-bottom: $margin-30;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
