article.reward {
	border: 1px solid $color-gray-soft;
	padding: 0;
	margin-right: 15px;
	margin-left: 15px;
	max-width: calc(33% - 30px);
}

article.campaign, article.reward {
	height: auto;
	margin-bottom: $margin-30;

	header {
		position: relative;

		&.reward-header {
			padding: 0 !important;
			h3 {
				padding: $margin-20;
				background-color: $color-gray-soft;
				max-width: 100% !important;
				border-top-right-radius: $margin-5;
				border-top-left-radius: $margin-5;
			}
		}

		h2,
		h3 {
			max-width: 260px;
		}

		.tooltip-container {
			display: block;
			margin: 0;
			position: absolute;
			right: 15px;
			top: 15px;

			a {
				i {
					color: $color-black-night;
				}

			}

		}

		.custom-tooltip {
			right: -5px;
			top: 35px;
		}

	}

	.content {
		&.dates {
			p {
				display: inline-block;
				font-weight: $font-weight-bold;
				letter-spacing: 1px;
				margin-bottom: 0;
				margin-right: $margin-15 ;
				vertical-align: middle;

				&:last-child {
					margin-right: 0;
				}

			}

		}

		&.data {
			table {
				width: 100%;

				p {
					display: inline-block;
					vertical-align: middle;
				}

				tr {
					td {
						margin-bottom: $margin-10;

						&:first-child {
							padding-left: 0;
							width: 75%;
						}

						&:last-child {
							padding-right: 0;
							text-align: right;
							width: 25%;
						}

					}

					&:last-child {
						td {
							margin-bottom: 0;
						}

					}

				}

			}

		}

		&.user {
			.vertical-align {
				@include marginH(-$margin-5);

				.middle {
					@include paddingH($margin-5);

					&.image-container {
						width: 15%;

						img {
							width: 50px;
						}

					}

					&.data-container {
						width: 85%;
					}

				}

			}

			.meta {
				letter-spacing: 1px;
			}

		}

	}

	footer {
		text-align: center;
	}

	&.public-campaign, .public-reward {
		.background {
			header,
			.content,
			footer {
				border-left: 1px solid $color-gray-smooth;
				border-right: 1px solid $color-gray-smooth;
			}

			header {
				border-top: 1px solid $color-gray-smooth;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			footer {
				border-bottom: 1px solid $color-gray-smooth;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

		}

		.btn {
			margin-bottom: $margin-10;

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

}