article.idea {
	border: 1px solid $color-gray-smooth;
	margin-bottom: $margin-20;
	padding: 0;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	.idea-container {
		cursor: pointer;
		padding-bottom: $margin-p-secondary;
		padding-left: $margin-50;
		padding-right: $margin-block;
		padding-top: $margin-block;
		user-select: none;
	}

	.icon-arrow-right {
		left: $margin-10;
		position: absolute;
		top: $margin-25;
		z-index: 99;
		font-size: $font-size-2;
	}

	.content {
		height: 0px;
		overflow: hidden;
		position: relative;
		transition: height $transition-time-2 $easing-1, margin-top $transition-time-2 $easing-1;

		&.extended {
			margin-top: $margin-p;
			overflow: none;

			&:after {
				opacity: 0;
			}

		}

	}

	.data {
		// margin-top: $margin-p-secondary;
		padding: 0 $margin-20 $margin-10 $margin-50;

		.left {
			i {
				font-size: $font-size-2;
			}
		}

		.comment-trigger {
			&:hover {
				color: $color-black-night;
			}

		}

		> div {
			display: inline-block;

			&.right {
				float: right;

				p {
					color: $color-purple-flashy;
				}

				.reply-button {
					color: $color-purple-flashy;
					cursor: pointer;
				}

				.like-button {
					color: $color-purple-flashy;
					cursor: pointer;
					user-select: none;
					transition: color $transition-time-1 $easing-1;

					i {
						// color: $color-gray-smooth;
						transition: color $transition-time-1 $easing-1;
					}

					&.active {
						color: $color-red-deep;

						i {
							color: $color-red-deep;
							animation: pop $transition-time-2 $easing-1;
						}

					}

				}

			}

		}

		p {
			cursor: pointer;
			display: inline-block;
			margin: 0;
			margin-right: $margin-p-secondary;

			&:last-child {
				margin-right: 0;
			}

			.icon {
				margin-right: 0;
			}

		}

	}

	& + article.reply {
		margin-top: -$margin-10;
	}

}

.btn.full-width {
	margin-top: $margin-30;
	width: 100%;
}

.page-developer-dashboard-customer-ideas {
	.comments-message {
		margin-left: 0;
	}

	article.message {
		.message-container {
			&:before {
				content: none;
			}
		}
	}
}