.page-public-project-overview {
	padding-bottom: 0 !important;
	padding-top: 0 !important;

	.modal-body {
		margin: 0 $margin-15;
		
		.row {
			margin: $margin-10 0;
		}
	}

	.form-group.required .control-label:after { 
	   content:"*";
	   color: $color-red-deep;
	}

	.form-submit a {
		float: right;
		&:last-of-type {
			margin: 0 $margin-10;
		}
	}

}

.public-project-overview-content {
	padding-top: 0 !important;

	> header.main-header {
		background: url('../img/background-project-overview.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
		z-index: 0;

		p {
			color: $color-white !important;
			font-weight: $font-weight-bold;
			letter-spacing: $letter-spacing-small;
			margin: 0;
		}

		&:before {
			background: $color-purple-imperial;
			content: "";
			display: inline-block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
		}

	}

	.subpage,
	.subsection {
		display: none;
		opacity: 0;

		&.active {
			animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
			display: block;
		}

	}

	.submenu {
		position: relative;

		&:after {
			background: $color-gray-smooth;
			bottom: 0;
			top: auto;
		}

		.menu-subpage,
		.menu-subsection {
			margin-bottom: 0;
			padding-bottom: 0;
		}

	}

	.subpage {
		padding-bottom: $margin-50;

		> .container > .content {
			margin-bottom: $margin-50;

			&:last-child {
				margin-bottom: 0;
			}

			header.content-header {
				margin-bottom: $margin-30;
			}

		}

		&#subpage-1 {
			.content {
				&.about {
					header {
						h2 {
							display: inline-block;
							vertical-align: middle;
						}

						p.page-subtitle {
							display: inline-block;
							margin-bottom: 0;
							@include marginH($margin-15);
							text-transform: uppercase;
							vertical-align: middle;
						}

					}

					.project-images {
						@include marginV($margin-30);

						.row {
							> div {
								.img-edit-container {
									img {
										margin-bottom: $margin-15;
									}

									&:last-child {
										img {
											margin-bottom: 0;
										}

									}

								}

							}

						}

						img {
							border-radius: 5px;
						}

						.img-edit-container {
							position: relative;
						}

					}

				}

			}

		}

		&#subpage-2 {
			@extend .border-bottom;
			padding-top: $margin-30;
			position: relative;

			&:after {
				background: $color-gray-smooth;
				top: 0;
			}

			.submenu {
				@extend .border-bottom;
				margin-bottom: $margin-30;

				&:after {
					background: $color-gray-smooth;
					bottom: 0;
					top: auto;
				}

			}

		}

		&#subpage-3 {
			padding-top: $margin-30;
		}

		&#subpage-4 {
			padding-top: $margin-30;

			header {
				h2 {
					display: inline-block;
				}

				a {
					display: inline-block;
					float: right;
				}

			}

			article.idea {
				&:last-child {
					margin-bottom: $margin-20;
				}

			}

		}

		&#subpage-5 {
			@extend .border-bottom;
			position: relative;

			&:after {
				background: $color-gray-smooth;
				top: 0;
			}

			.give-feedback {
				@include paddingV($margin-15);
			}

			.subsection {
				.content {
					header {
						margin-bottom: $margin-30;
					}

				}

				&#subsection-6 {
					.still-running {
						text-align: center;

						img {
							height: auto;
							margin-bottom: $margin-30;
							max-width: 200px;
						}

					}

				}

			}

		}

	}

}