.page-public-project-overview {
	padding-bottom: 0 !important;
	padding-top: 0 !important;

	.questionnaire {
		width: 50%;
		margin: auto;
		color: $color-black-night;

		.submit-container {
			text-align: center;
			padding: $margin-20;
		}

		h1 {
			color: $color-black-night;
			padding: $margin-20 0 $margin-40 0;
			font-size: $font-size-very-large !important;
		}

		.header-medium {
			padding-bottom: $margin-20;
		}

		label {
			min-width: 250px;
			max-width: 600px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			i {
				display: none;
			}
		}

		fieldset {
			margin-bottom: 80px;
		}

		input[type=radio]:checked + .visual-radio-label {
			background-color: $color-purple-flashy;
			color: $color-white;
			i {
				display: inline;
				position: relative;
				float: right;
				top: 0 !important;
				padding-left: 10px;
				transform: none !important;
				background: none !important
			}
		}

		.visual-radio-label {
			float: left;
			clear: both;
			background-color: $color-gray-smooth;
			border-radius: $margin-5;
			padding: $margin-10;
			border: 1px solid $color-gray-clear;
			font-size: $font-size-medium;
			transition: $transition-time-2 $easing-1;

			span {
				padding: 13px 13px 13px 5px;
				margin-right: $margin-15;
				font-weight: 700;
				border-right: 1px solid $color-gray-clear;
			}
		}

		input[type=checkbox]:checked + .visual-checkbox-label {
			background-color: $color-purple-flashy;
			color: $color-white;
			i {
				display: inline;
				position: relative;
				float: right;
				top: 0 !important;
				transform: none !important;
				padding-left: 10px;
				background: none !important
			}
		}

		.visual-checkbox-label {
			float: left;
			clear: both;
			background-color: $color-gray-smooth;
			border-radius: $margin-5;
			padding: $margin-10;
			border: 1px solid $color-gray-clear;
			font-size: $font-size-medium;
			transition: $transition-time-2 $easing-1;

			span {
				padding: 13px 13px 13px 5px;
				margin-right: $margin-15;
				font-weight: 700;
				border-right: 1px solid $color-gray-clear;
			}
		}

		.visual-link .description {
			color: $color-gray-clear;
			font-size: $font-size-medium;
			max-width: 70%;
			padding: 0 $margin-20;
		}

		.range-container {
			margin-left: $margin-20;
		}

		.visual-range-label {
			min-width: 0 !important;
			margin: $margin-20;
			cursor: pointer;

			.circle {
				display: block;
				border-radius: 50%;
				border: 1px solid $color-gray-clear;
				background-color: $color-gray-clear;
				width: $margin-15;
				height: $margin-15;
				transition: $transition-time-2 $easing-1;
			}
			.option {
				text-align: center;
			    padding-top: 5px;
			    margin: auto;
			    display: inline-block;
			    padding-left: 3px;
			    color: $color-gray-clear;
			    font-size: $font-size-small;
			}
		}

		input[type=radio]:checked + .visual-range-label {
			.circle {
				background-color: $color-purple-flashy;
			}
		}

 		label a {
			color: $color-purple-flashy !important;
		}

	}

	.modal-body {
		margin: 0 $margin-15;

		.row {
			margin: $margin-10 0;
		}
	}

	.form-group.required .control-label:after {
	   content:"*";
	   color: $color-red-deep;
	}

	.form-submit a {
		float: right;
		&:last-of-type {
			margin: 0 $margin-10;
		}
	}

}

.public-project-overview-content {
	padding-top: 0 !important;

	.buy-new-reward-popup {
		.modal-body {
			min-height: 150px;
		}
	}

	> header.main-header {
		background: url('../img/background-project-overview.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
		z-index: 0;

		p {
			color: $color-white !important;
			font-weight: $font-weight-bold;
			letter-spacing: $letter-spacing-small;
			margin: 0;
		}

		&:before {
			background: $color-purple-imperial;
			content: "";
			display: inline-block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
		}

	}

	.subpage,
	.subsection {
		display: none;
		opacity: 0;

		&.active {
			animation: fadeIn $transition-time-2 $easing-1 1 normal forwards;
			display: block;
		}

	}

	.submenu {
		position: relative;

		&:after {
			background: $color-gray-smooth;
			bottom: 0;
			top: auto;
		}

		.menu-subpage,
		.menu-subsection {
			margin-bottom: 0;
			padding-bottom: 0;
		}

	}

	.subpage {
		padding-bottom: $margin-50;
		padding-top: $margin-30;

		> .container > .content {
			margin-bottom: $margin-50;

			&:last-child {
				margin-bottom: 0;
			}

			header.content-header {
				margin-bottom: $margin-30;
			}

		}

		&#subpage-1 {
			padding-top: 0;

			.content {
				&.about {
					header {
						h2 {
							display: inline-block;
							vertical-align: middle;
						}

						p.page-subtitle {
							display: inline-block;
							margin-bottom: 0;
							@include marginH($margin-15);
							text-transform: uppercase;
							vertical-align: middle;
						}

					}

					.project-images {
						@include marginV($margin-30);

						.row {
							> div {
								.img-edit-container {
									img {
										margin-bottom: $margin-15;
									}

									&:last-child {
										img {
											margin-bottom: 0;
										}

									}

								}

							}

						}

						img {
							border-radius: 5px;
						}

						.img-edit-container {
							position: relative;
						}

					}

				}

			}

		}

		&#subpage-2 {
			@extend .border-bottom;
			position: relative;

			&:after {
				background: $color-gray-smooth;
				top: 0;
			}

			.submenu {
				@extend .border-bottom;
				margin-bottom: $margin-30;

				&:after {
					background: $color-gray-smooth;
					bottom: 0;
					top: auto;
				}

			}

		}

		&#subpage-5 {
			header {
				h2 {
					display: inline-block;
				}

				a {
					display: inline-block;
					float: right;
				}

			}

			article.idea {
				&:last-child {
					margin-bottom: $margin-20;
				}

			}

		}

		&#subpage-6 {
			@extend .border-bottom;
			padding-top: 0;
			position: relative;

			&:after {
				background: $color-gray-smooth;
				top: 0;
			}

			.give-feedback {
				@include paddingV($margin-15);
			}

			.subsection {
				.content {
					header {
						margin-bottom: $margin-30;
					}

				}

				&#subsection-6 {
					.still-running {
						text-align: center;

						img {
							height: auto;
							margin-bottom: $margin-30;
							max-width: 200px;
						}
					}
				}
			}
		}
	}
}