section.public-page {
	@include paddingV($margin-30);

	header.main-header {
		@extend .border-bottom;
		@include paddingV($margin-30);
		position: relative;
		text-align: center;

		.image-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: $margin-10;
		}

		&.login {
			&:after {
				display: none;
			}

		}

		&.header-all-projects,
		&.header-tutorial {
			padding: 200px 0 100px;
			background-image: url('../img/hands.svg');
			background-position: 50% 100%;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&:after {
			background: $color-gray-smooth;
			bottom: 0;
			top: auto;
		}
	}

	&.no-border {
		header.main-header {
			&:after {
				display: none;
			}

		}

	}

	.user-type {
		a {
			display: block;
			margin: $margin-10 0;
			letter-spacing: $letter-spacing-medium;
			color: $color-purple-flashy;
			text-transform: uppercase;
			font-size: $font-size-medium;
			font-weight: $font-weight-bold;
		}
		p {
			margin-bottom: $margin-20;
		}
	}

	.choice {
		a:first-child {
			margin-right: $margin-10;
			margin-top: $margin-40;
		}

	}

	.button-end {
		text-align: center;
		margin: $margin-80 0;

		&.step-1 a {
			margin: 0 $margin-10;
		}

		p {
			margin-top: $margin-40;
			font-size: $font-size-medium;
			letter-spacing: $letter-spacing-small;

			a {
				text-transform: uppercase;
				font-weight: $font-weight-bold;

				&:hover {
					color: $color-purple-flashy-highlight;
				}

			}

		}

		&.choice {
			text-align: right;
		}

	}

	&.page-login {
		h1 {
			text-transform: uppercase;
		}

		.role {
			text-align: center;

			img {
				width: 85%;
			}

			&.role-user {
				img {
					transform: rotate(-15deg) translate(0, -$margin-40);
				}

			}

			&.role-developer {
				img {
					transform: rotate(15deg) translate(0, -$margin-40);
				}

			}

			.btn {
				margin-top: $margin-20;
			}

			.image:hover {
				animation: pop-small $transition-time-2 $easing-1;
			}

		}

		a:not(.btn):not(.btn-transparent) {
			color: $color-purple-flashy !important;
		}

	}

	&.page-error {
		.main-header {
			img {
				margin-bottom: $margin-80;
			}

		}

	}

	.incentive {
		background-color: $color-gray-soft;
		padding: $margin-30 0;
		text-align: center;
		margin: $margin-60 0 0;

		h2, .icon {
			color: $color-purple-flashy;
		}

		.icon {
			padding-top: $margin-20;
		}

	}

	&.page-tutorial {
		h2,
		h3 {
			text-transform: uppercase;
			letter-spacing: $letter-spacing-medium;
		}

		section.intro,
		section.steps,
		section.introduction {
			padding-bottom: $margin-120;
			border-bottom: 1px solid $color-gray-smooth;
		}

		.button-end {
			h3 {
				margin-bottom: $margin-20;
			}

		}

		section.intro {
			margin-bottom: $margin-120;
			text-align: center;

			img {
				margin-bottom: $margin-40;
			}

		}

		section.steps {
			margin-bottom: $margin-120;

			.step {
				p {
					text-align: center;
				}

			}

		}

		section.introduction {
			ul.steps {
				li {
					font-size: $font-size-medium;
					color: $color-black-night;
					font-weight: $font-weight-bold;
					margin-bottom: $margin-20;
				}

			}

		}

	}

}