.public-projects-logged-in-content {
	padding-top: $margin-40;

	header {
		h2 {
			display: inline-block;
		}

		p.action-text {
			margin-left: $margin-10;
		}

	}

	.filter-container {
		@include marginV($margin-40);

		label {
			margin: 0 $margin-10 0 0;
		}

		.select-dropdown {
			display: inline-block;
			width: 200px;

			select {
				max-width: 200px;
			}

		}

	}

}