.public-projects-explanation {
	padding-top: $margin-80;

	.menu-subpage {
		display: flex;
		justify-content: center;
	}

	.link-to-subpage:last-of-type {
		margin-right: 0;
	}

	.preview > img{
		border-radius: $margin-10;
	}

	.context {
		display: flex;
		align-items: center;
		justify-content: center;
    	height: 444px;

    	.explanation {
    		span {
    			padding-bottom: $margin-20;
    			font-size: $font-size-large;
    			color: $color-purple-flashy;
    		}

    		h2 {
    			color: $color-purple-flashy;
    			padding-bottom: $margin-20;
    		}
    	}
	}

	.subpage {
		padding-top: $margin-80
	}
}

.public-projects-logged-in-content {
	padding-top: $margin-80;
	overflow-x: hidden;

	header {
		h2 {
			display: inline-block;
		}

		p.action-text {
			margin-left: $margin-5;
		}

	}

	.youtube-container {
		padding-bottom: $margin-80;
	}

	.filter-container {
		@include marginV($margin-40);

		label {
			margin: 0 $margin-10 0 0;
		}

		.select-dropdown {
			display: inline-block;
			width: 200px;

			select {
				max-width: 200px;
			}

		}

	}

}