.public-projects-logged-in-content {
	padding-top: $margin-header-public;

	header {
		h2 {
			display: inline-block;
		}

		p.action-text {
			margin-left: $margin-p-secondary;
		}

	}

	.filter-container {
		@include marginV($margin-filter-container);

		label {
			margin: 0 $margin-p-secondary 0 0;
		}

		.select-dropdown {
			display: inline-block;
			width: 200px;

			select {
				max-width: 200px;
			}

		}

	}

}